In [1]:
import json
import os
import time
from pandas import json_normalize
import psycopg2
from psycopg2 import sql
import numpy as np

import pandas as pd
import requests
from dotenv import load_dotenv

load_dotenv()

access_token = os.getenv("ACCESS_TOKEN")
HOST = os.getenv("HOST")
POSTGRES_DB = os.getenv("POSTGRES_DB")
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")


# Informações de conexão com o banco de dados PostgreSQL
db_config = {
    "host": HOST,
    "database": POSTGRES_DB,
    "user": POSTGRES_USER,
    "password": POSTGRES_PASSWORD,
}

# Registra o tempo antes da execução
start_prog = time.time()

In [2]:
print(access_token)

APP_USR-6628000663056293-120415-422a24d36464c1f0729bc9ef915087a3-233632476

### Verificando dados da conta

In [3]:
url = "https://api.mercadolibre.com/users/me"

payload = {}
headers = {"Authorization": f"Bearer {access_token}"}

response = requests.request("GET", url, headers=headers, data=payload)
response = response.text

print(response)

# Encontre posição do início e fim do campo "id"
start_pos = response.find('"id"')  # Encontra onde começa "id"
end_pos = response.find(",", start_pos)  # Encontra onde termina "id"

# Extraia o valor de "id"
seller_id = response[start_pos:end_pos].split(":")[1]
seller_id = seller_id.strip().strip('"')

print(f'O valor de "seller_id" é: {seller_id}')

{"id":233632476,"nickname":"MUSICALCENTERPG","registration_date":"2016-11-05T17:35:04.000-04:00","first_name":"MUSICAL CENTER PONTA","last_name":"GROSSA EIRELI -","gender":"","country_id":"BR","email":"musicalc168@gmail.com","identification":{"number":"10885874000127","type":"CNPJ"},"address":{"address":"Estrada da Gruta 775","city":"Louveira","state":"BR-SP","zip_code":"13290431"},"phone":{"area_code":"19","extension":"","number":"38787702","verified":false},"alternative_phone":{"area_code":"","extension":"","number":""},"user_type":"brand","tags":["brand","large_seller","eshop","mshops","messages_as_seller"],"logo":null,"points":4541,"site_id":"MLB","permalink":"http://perfil.mercadolivre.com.br/MUSICALCENTERPG","seller_experience":"ADVANCED","bill_data":{"accept_credit_note":"Y"},"seller_reputation":{"level_id":"5_green","power_seller_status":"platinum","transactions":{"canceled":1553,"completed":34275,"period":"historic","ratings":{"negative":0.05,"neutral":0.03,"positive":0.92},"total":35828},"metrics":{"sales":{"period":"60 days","completed":9735},"claims":{"period":"60 days","rate":0.0035,"value":36},"delayed_handling_time":{"period":"60 days","rate":0.0027,"value":26},"cancellations":{"period":"60 days","rate":0.0007,"value":8}}},"buyer_reputation":{"canceled_transactions":0,"tags":[],"transactions":{"canceled":{"paid":null,"total":null},"completed":null,"not_yet_rated":{"paid":null,"total":null,"units":null},"period":"historic","total":null,"unrated":{"paid":null,"total":null}}},"status":{"billing":{"allow":true,"codes":[]},"buy":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"confirmed_email":true,"shopping_cart":{"buy":"allowed","sell":"allowed"},"immediate_payment":false,"list":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"mercadoenvios":"not_accepted","mercadopago_account_type":"personal","mercadopago_tc_accepted":true,"required_action":null,"sell":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"site_status":"active","user_type":"complete_registration"},"secure_email":"mmusica.2kmfbv@mail.mercadolivre.com","company":{"brand_name":"MUSICAL CENTER","city_tax_id":"","corporate_name":"MUSICAL CENTER PONTA GROSSA EIRELI -","identification":"10885874000127","state_tax_id":"421102074116","cust_type_id":"BU","soft_descriptor":"MUSICALCENTER"},"credit":{"consumed":10033.48,"credit_level_id":"MLB1","rank":"premium"},"context":{"device":"web-desktop","flow":"normal","ip_address":"177.156.92.94","source":"mercadopago"},"thumbnail":{"picture_id":"985797-MLA40654312205_022020","picture_url":"https://mla-s2-p.mlstatic.com/985797-MLA40654312205_022020-O.jpg"},"registration_identifiers":[]}
O valor de "seller_id" é: 233632476

### Carregando Inventory Ids de Produtos a serem pesquisados

Esses dados podem ser encontrados na tabela *tiny_fulfillment* do banco de dados

In [4]:
conn = psycopg2.connect(**db_config)

sql_query = "SELECT * FROM items"

df_codes = pd.read_sql(sql_query, conn)

df_codes.head(1)

C:\Users\couti\AppData\Local\Temp\ipykernel_5024\2605888089.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_codes = pd.read_sql(sql_query, conn)

,ml_code,inventory_id,value_name,variation_id,status,catalog_listing,created_at,updated_at
0,MLB3778561802,AVOX05934,NaN,NaN,closed,True,2023-12-04 20:08:10.878608,2023-12-04 20:08:10.878608

In [5]:
# Verifica se há duplicatas
duplicates = df_codes.duplicated()
n_dup = duplicates.sum()

print(f"Número de duplicatas: {n_dup}")

# Encontre as duplicatas no DataFrame
duplicates = df_codes[df_codes.duplicated(keep=False)]

# Exiba as próprias duplicatas
duplicates

Número de duplicatas: 0

Empty DataFrame
Columns: [ml_code, inventory_id, value_name, variation_id, status, catalog_listing, created_at, updated_at]
Index: []

In [6]:
# Remove as duplicatas e atualiza o DataFrame
df_codes = df_codes.drop_duplicates()

df_codes.shape

(526, 8)

In [7]:
df_codes.head(1)

,ml_code,inventory_id,value_name,variation_id,status,catalog_listing,created_at,updated_at
0,MLB3778561802,AVOX05934,NaN,NaN,closed,True,2023-12-04 20:08:10.878608,2023-12-04 20:08:10.878608

### Pegando Estoque de FulFillment

In [21]:
# removendo valores nulos
df_codes = df_codes.dropna(subset=["inventory_id"])
# df_codes["inventory_id"].value_counts()

# removendo valores nulos
df_variations = df_codes.dropna(subset=["variation_id"])
# df_variations["variation_id"].value_counts()

In [22]:
var_codes = df_codes["variation_id"].unique()
codes = df_codes["inventory_id"].unique()

print(len(codes))
print(len(var_codes))

365
172

In [25]:
import numpy as np

codes = np.delete(codes, np.where(codes == "NaN"))
var_codes = np.delete(var_codes, np.where(var_codes == "NaN"))
codes

array(['AVOX05934', 'WTHI04163', 'JLAX10536', 'JFGN34621', 'TDFV00990',
       'QYGO52123', 'ERIM51807', 'DGBX50777', 'TDFV51283', 'PKNN52962',
       'IXGP53982', 'OYUK51882', 'CCQW73335', 'DXJZ75064', 'TNXB83665',
       'JDMV76187', 'RJUL81287', 'CIKE94068', 'MENA20785', 'HXJD21466',
       'CQAQ20361', 'GLMK21133', 'ABCB20467', 'ZZGN21450', 'TXWS20511',
       'DCPP20168', 'FVTQ20181', 'HTEZ21817', 'XYHC31118', 'SCKP53673',
       'SDNY53354', 'BOWK32167', 'ZZRV30730', 'KRJP31426', 'SCVF31712',
       'MLVG32506', 'IRUD34507', 'TPDH38567', 'TLCG38735', 'PUOF38682',
       'ZXFT21237', 'JGRW38703', 'AIRQ38676', 'GPGU38258', 'ITMG31457',
       'XDTG30724', 'NWXH48678', 'QOGG45483', 'STLG62905', 'VGBX48763',
       'SKXW47953', 'KBOK48388', 'PROW53057', 'WOXA67988', 'YLXH65172',
       'CNHG47042', 'PVKY65418', 'BOWK48319', 'XYHC65769', 'XGSW66673',
       'KNPR48414', 'SKXW65690', 'HXJD67665', 'WIZE67325', 'CNHG66088',
       'CJBY66878', 'PWQU66026', 'KMCL67683', 'GMII66042', 'EDGP47752',
       'GLMK66383', 'ZZRV46957', 'JJMG49643', 'AGDL67534', 'JNYZ66723',
       'MOPJ68127', 'LDBL64899', 'AGDL67547', 'DJDL49028', 'WNYY55014',
       'WRRA54468', 'ENML56386', 'SPKV63227', 'CMXV62869', 'ELKX63703',
       'MHXR70863', 'MENA66694', 'DZVJ05686', 'FFIA05428', 'OXVU12317',
       'OVRP11252', 'XGVG11805', 'ELKB12099', 'JJMG39331', 'JGED44177',
       'LKXA44509', 'SSGO43954', 'AZZD53396', 'UKNM52020', 'WTQW54410',
       'KGXH53279', 'LGAM52077', 'YWET52744', 'ZOQD52873', 'YWET52700',
       'JLFV52818', 'UIUW52962', 'HFNJ52229', 'FFIA52697', 'QHVP51310',
       'HVCS52763', 'ZQIV51979', 'RBUB53192', 'RYWV54124', 'MAEG54107',
       'AZVM53003', 'NOMF53205', 'WCNJ53438', 'VBZZ52467', 'JGED52238',
       'MNSV53924', 'FFTO88214', 'UIUW89800', 'LKXA87678', 'CRMK90073',
       'EAFF88171', 'GDCT87609', 'MAEG89052', 'DIAC90428', 'IBGO88267',
       'JOGC89676', 'SYZS70682', 'DWNN86592', 'UITT86657', 'YQWM23606',
       'GHFV89567', 'JOGC74297', 'JOGC18300', 'UTKO14988', 'ZDLT16176',
       'FTGG16520', 'GUSW29256', 'UCDR32919', 'IKDC16959', 'BOZK72331',
       'ROAL74330', 'WQLG77218', 'ITDN80392', 'LCUY78585', 'IVOT73839',
       'JFGN91429', 'IPQB89761', 'ITDN89121', 'ZEWV91930', 'NKRN92702',
       'JAOF95919', 'VUYV97753', 'YWET11585', 'PSMV02965', 'AOLT03050',
       'JSMU98097', 'IYUQ03362', 'DBBD03410', 'MPTT03772', 'JKBQ98755',
       'TAPQ03701', 'MZLX96272', 'JJSZ06277', 'DSGP06967', 'DSGP06979',
       'XGNL04251', 'LNUD04074', 'LUHT04035', 'CLMF99895', 'QTPB03410',
       'VXCN97101', 'ZJTW10331', 'SCIV21840', 'ITND36634', 'AWAZ99732',
       'NTFP39349', 'SJLM76488', 'BPGQ10723', 'VAJM34569', 'JDOJ98857',
       'WHCM05158', 'OLCT05266', 'YRHK04781', 'VLAM67568', 'HKMH99637',
       'THQG04019', 'YDQA03755', 'YZGH03888', 'OSQG97983', 'PNZZ04589',
       'ITQQ97036', 'WEPI04061', 'QRSL03944', 'ZJCO04233', 'ELQK04205',
       'FSNB97805', 'YXIW04349', 'TNXB03680', 'DHEV27121', 'BPGQ06190',
       'HGRL10383', 'ZJTW06594', 'TIOX11058', 'QZJR06663', 'HNWI37644',
       'WJIT31909', 'ZZQL21216', 'OKDI38047', 'NHQO05910', 'QCVC39144',
       'FHRY17474', 'PZZB07005', 'HSDO10298', 'AJZG23550', 'BLHH53768',
       'ESVG06709', 'BZEY80870', 'YUZF74492', 'MSPZ76749', 'NJRG06721',
       'RTIZ80917', 'ITSG97062', 'RIXS53464', 'GGGM78782', 'HFEB10246',
       'RVHF10897', 'VUJI10625', 'PMPX06029', 'YMJN07005', 'SMGF52530',
       'GSZI06869', 'CDBO10673', 'FZQP10396', 'NZGA07022', 'JIRM06161',
       'RCLZ06797', 'VFZN11384', 'CDBO11155', 'THDJ11172', 'POPO18550',
       'NIPX18741', 'UMNA18288', 'DCGQ72320', 'LESW73286', 'XYRN72687',
       'JPOV78690', 'ZUIU17173', 'YTYV17118', 'EALS35835', 'ZJTW36424',
       'UKHV36430', 'YIWE37998', 'HTNQ39602', 'FHRY37807', 'MKVU37659',
       'PQCQ36986', 'JICW37518', 'HSDO37848', 'SPDZ35971', 'WOJB37093',
       'TIOX38546', 'EATC35944', 'WYFB54549', 'RPIM55972', 'YAZB38863',
       'ZNFW24350', 'RKCI54992', 'HHXZ78268', 'JOOL71300', 'FNAF71120',
       'NMVS73152', 'HTNQ73134', 'LUHT78439', 'XUMC81097', 'FRBW82060',
       'IYUQ81169', 'XYRN86487', 'ZBAZ79704', 'ZRDQ91074', 'SIZW84848',
       'TAPQ85749', 'DGCL82617', 'SOQF03130', 'GCYF86172', 'LEIY03857',
       'TALW87873', 'BOWJ40709', 'YJPM55154', 'ELUM57266', 'MHIJ54971',
       'PPWL54078', 'VOFT09621', 'YLJM05104', 'ZXJO91694', 'PBFO04192',
       'UELH05330', 'KFQN05981', 'PLMP05485', 'NPQH05311', 'YJSN05311',
       'UWGL04723', 'KKKP96008', 'TPGO05400', 'DGLC52390', 'SJIT31691',
       'ZUKG50028', 'EZAB50211', 'XKOH50731', 'ICRX50305', 'EIPZ51427',
       'EXBI53687', 'EWIT53429', 'DYTK59070', 'HOEU52737', 'BXUC56742',
       'JFET53251', 'LXQV54406', 'YHXD60928', 'BUIO60614', 'RKDM61361',
       'XVUA60406', 'LXOO59456', 'UYFJ61970', 'RXXA58942', 'PPWL59058',
       'DODL05588', 'POTW78210', 'KVNV88377', 'WRRA65769', 'JDTL81315',
       'BSHY44610', 'RTDN45757', 'XQUC46318', 'WCPW50881', 'OPID82060',
       'DVXT49932', 'WDWD46736', 'KWTA44870', 'HHTP46961', 'OPUT47930',
       'FGQV53723', 'ZRTG53907', 'TKXK58450', 'PUMV59027', 'QMPL62443',
       'CTZK75126', 'HGVR43626', 'XPNR45178', 'LAMA44610', 'BZGW44149',
       'RLJX42857', 'IBYF58990', 'QOVS42512', 'QHGI58432', 'IYNL59473',
       'ARDK78657', 'IDSV51539', 'BZGW51616', 'FXMN50419', 'xxxxx'],
      dtype=object)

In [27]:
print(len(codes))
print(len(var_codes))

365
171

In [ ]:
# unique_values = set(codes)
# num_unique_values = len(unique_values)

# print(f"Quantidade de valores únicos: {num_unique_values}")

In [15]:
unique_values = set(codes)
num_unique_values = len(unique_values)

print(f"Quantidade de valores únicos: {num_unique_values}")

Quantidade de valores únicos: 365

In [28]:
counter = 0
json_list = []

for item in codes:
    url = f"https://api.mercadolibre.com/inventories/{item}/stock/fulfillment"

    payload = {}
    headers = {"Authorization": f"Bearer {access_token}"}
    print(f"Buscando dados {counter}/{len(codes)}: {item}")

    try:
        response = requests.get(url, headers=headers, data=payload)
        response.raise_for_status()  # Lança uma exceção HTTPError para códigos de status de erro
        response_data = response.json()
        json_list.append(response_data)
        counter += 1

        if counter % 50 == 0:
            print(f"Fazendo uma pausa de 1 minuto...")
            time.sleep(60)

    except requests.exceptions.RequestException as e:
        print(f"Erro ao fazer a requisição para {url}: {e}")

    except Exception as e:
        print(f"Erro não esperado: {e}")

Buscando dados 0/365: AVOX05934
Buscando dados 1/365: WTHI04163
Buscando dados 2/365: JLAX10536
Buscando dados 3/365: JFGN34621
Buscando dados 4/365: TDFV00990
Buscando dados 5/365: QYGO52123
Buscando dados 6/365: ERIM51807
Buscando dados 7/365: DGBX50777
Buscando dados 8/365: TDFV51283
Buscando dados 9/365: PKNN52962
Buscando dados 10/365: IXGP53982
Buscando dados 11/365: OYUK51882
Buscando dados 12/365: CCQW73335
Buscando dados 13/365: DXJZ75064
Buscando dados 14/365: TNXB83665
Buscando dados 15/365: JDMV76187
Buscando dados 16/365: RJUL81287
Buscando dados 17/365: CIKE94068
Buscando dados 18/365: MENA20785
Buscando dados 19/365: HXJD21466
Buscando dados 20/365: CQAQ20361
Buscando dados 21/365: GLMK21133
Buscando dados 22/365: ABCB20467
Buscando dados 23/365: ZZGN21450
Buscando dados 24/365: TXWS20511
Buscando dados 25/365: DCPP20168
Buscando dados 26/365: FVTQ20181
Buscando dados 27/365: HTEZ21817
Buscando dados 28/365: XYHC31118
Buscando dados 29/365: SCKP53673
Buscando dados 30/365: SDNY53354
Buscando dados 31/365: BOWK32167
Buscando dados 32/365: ZZRV30730
Buscando dados 33/365: KRJP31426
Buscando dados 34/365: SCVF31712
Buscando dados 35/365: MLVG32506
Buscando dados 36/365: IRUD34507
Buscando dados 37/365: TPDH38567
Buscando dados 38/365: TLCG38735
Buscando dados 39/365: PUOF38682
Buscando dados 40/365: ZXFT21237
Buscando dados 41/365: JGRW38703
Buscando dados 42/365: AIRQ38676
Buscando dados 43/365: GPGU38258
Buscando dados 44/365: ITMG31457
Buscando dados 45/365: XDTG30724
Buscando dados 46/365: NWXH48678
Buscando dados 47/365: QOGG45483
Buscando dados 48/365: STLG62905
Buscando dados 49/365: VGBX48763
Fazendo uma pausa de 1 minuto...
Buscando dados 50/365: SKXW47953
Buscando dados 51/365: KBOK48388
Buscando dados 52/365: PROW53057
Buscando dados 53/365: WOXA67988
Buscando dados 54/365: YLXH65172
Buscando dados 55/365: CNHG47042
Buscando dados 56/365: PVKY65418
Buscando dados 57/365: BOWK48319
Buscando dados 58/365: XYHC65769
Buscando dados 59/365: XGSW66673
Buscando dados 60/365: KNPR48414
Buscando dados 61/365: SKXW65690
Buscando dados 62/365: HXJD67665
Buscando dados 63/365: WIZE67325
Buscando dados 64/365: CNHG66088
Buscando dados 65/365: CJBY66878
Buscando dados 66/365: PWQU66026
Buscando dados 67/365: KMCL67683
Buscando dados 68/365: GMII66042
Buscando dados 69/365: EDGP47752
Buscando dados 70/365: GLMK66383
Buscando dados 71/365: ZZRV46957
Buscando dados 72/365: JJMG49643
Buscando dados 73/365: AGDL67534
Buscando dados 74/365: JNYZ66723
Buscando dados 75/365: MOPJ68127
Buscando dados 76/365: LDBL64899
Buscando dados 77/365: AGDL67547
Buscando dados 78/365: DJDL49028
Buscando dados 79/365: WNYY55014
Buscando dados 80/365: WRRA54468
Buscando dados 81/365: ENML56386
Buscando dados 82/365: SPKV63227
Buscando dados 83/365: CMXV62869
Buscando dados 84/365: ELKX63703
Buscando dados 85/365: MHXR70863
Buscando dados 86/365: MENA66694
Buscando dados 87/365: DZVJ05686
Buscando dados 88/365: FFIA05428
Buscando dados 89/365: OXVU12317
Buscando dados 90/365: OVRP11252
Buscando dados 91/365: XGVG11805
Buscando dados 92/365: ELKB12099
Buscando dados 93/365: JJMG39331
Buscando dados 94/365: JGED44177
Buscando dados 95/365: LKXA44509
Buscando dados 96/365: SSGO43954
Buscando dados 97/365: AZZD53396
Buscando dados 98/365: UKNM52020
Buscando dados 99/365: WTQW54410
Fazendo uma pausa de 1 minuto...
Buscando dados 100/365: KGXH53279
Buscando dados 101/365: LGAM52077
Buscando dados 102/365: YWET52744
Buscando dados 103/365: ZOQD52873
Buscando dados 104/365: YWET52700
Buscando dados 105/365: JLFV52818
Buscando dados 106/365: UIUW52962
Buscando dados 107/365: HFNJ52229
Buscando dados 108/365: FFIA52697
Buscando dados 109/365: QHVP51310
Buscando dados 110/365: HVCS52763
Buscando dados 111/365: ZQIV51979
Buscando dados 112/365: RBUB53192
Buscando dados 113/365: RYWV54124
Buscando dados 114/365: MAEG54107
Buscando dados 115/365: AZVM53003
Buscando dados 116/365: NOMF53205
Buscando dados 117/365: WCNJ53438
Buscando dados 118/365: VBZZ52467
Buscando dados 119/365: JGED52238
Buscando dados 120/365: MNSV53924
Buscando dados 121/365: FFTO88214
Buscando dados 122/365: UIUW89800
Buscando dados 123/365: LKXA87678
Buscando dados 124/365: CRMK90073
Buscando dados 125/365: EAFF88171
Buscando dados 126/365: GDCT87609
Buscando dados 127/365: MAEG89052
Buscando dados 128/365: DIAC90428
Buscando dados 129/365: IBGO88267
Buscando dados 130/365: JOGC89676
Buscando dados 131/365: SYZS70682
Buscando dados 132/365: DWNN86592
Buscando dados 133/365: UITT86657
Buscando dados 134/365: YQWM23606
Buscando dados 135/365: GHFV89567
Buscando dados 136/365: JOGC74297
Buscando dados 137/365: JOGC18300
Buscando dados 138/365: UTKO14988
Buscando dados 139/365: ZDLT16176
Buscando dados 140/365: FTGG16520
Buscando dados 141/365: GUSW29256
Buscando dados 142/365: UCDR32919
Buscando dados 143/365: IKDC16959
Buscando dados 144/365: BOZK72331
Buscando dados 145/365: ROAL74330
Buscando dados 146/365: WQLG77218
Buscando dados 147/365: ITDN80392
Buscando dados 148/365: LCUY78585
Buscando dados 149/365: IVOT73839
Fazendo uma pausa de 1 minuto...
Buscando dados 150/365: JFGN91429
Buscando dados 151/365: IPQB89761
Buscando dados 152/365: ITDN89121
Buscando dados 153/365: ZEWV91930
Buscando dados 154/365: NKRN92702
Buscando dados 155/365: JAOF95919
Buscando dados 156/365: VUYV97753
Buscando dados 157/365: YWET11585
Buscando dados 158/365: PSMV02965
Buscando dados 159/365: AOLT03050
Buscando dados 160/365: JSMU98097
Buscando dados 161/365: IYUQ03362
Buscando dados 162/365: DBBD03410
Buscando dados 163/365: MPTT03772
Buscando dados 164/365: JKBQ98755
Buscando dados 165/365: TAPQ03701
Buscando dados 166/365: MZLX96272
Buscando dados 167/365: JJSZ06277
Buscando dados 168/365: DSGP06967
Buscando dados 169/365: DSGP06979
Buscando dados 170/365: XGNL04251
Buscando dados 171/365: LNUD04074
Buscando dados 172/365: LUHT04035
Buscando dados 173/365: CLMF99895
Buscando dados 174/365: QTPB03410
Buscando dados 175/365: VXCN97101
Buscando dados 176/365: ZJTW10331
Buscando dados 177/365: SCIV21840
Buscando dados 178/365: ITND36634
Buscando dados 179/365: AWAZ99732
Buscando dados 180/365: NTFP39349
Buscando dados 181/365: SJLM76488
Buscando dados 182/365: BPGQ10723
Buscando dados 183/365: VAJM34569
Buscando dados 184/365: JDOJ98857
Buscando dados 185/365: WHCM05158
Buscando dados 186/365: OLCT05266
Buscando dados 187/365: YRHK04781
Buscando dados 188/365: VLAM67568
Buscando dados 189/365: HKMH99637
Buscando dados 190/365: THQG04019
Buscando dados 191/365: YDQA03755
Buscando dados 192/365: YZGH03888
Buscando dados 193/365: OSQG97983
Buscando dados 194/365: PNZZ04589
Buscando dados 195/365: ITQQ97036
Buscando dados 196/365: WEPI04061
Buscando dados 197/365: QRSL03944
Buscando dados 198/365: ZJCO04233
Buscando dados 199/365: ELQK04205
Fazendo uma pausa de 1 minuto...
Buscando dados 200/365: FSNB97805
Buscando dados 201/365: YXIW04349
Buscando dados 202/365: TNXB03680
Buscando dados 203/365: DHEV27121
Buscando dados 204/365: BPGQ06190
Buscando dados 205/365: HGRL10383
Buscando dados 206/365: ZJTW06594
Buscando dados 207/365: TIOX11058
Buscando dados 208/365: QZJR06663
Buscando dados 209/365: HNWI37644
Buscando dados 210/365: WJIT31909
Buscando dados 211/365: ZZQL21216
Buscando dados 212/365: OKDI38047
Buscando dados 213/365: NHQO05910
Buscando dados 214/365: QCVC39144
Buscando dados 215/365: FHRY17474
Buscando dados 216/365: PZZB07005
Buscando dados 217/365: HSDO10298
Buscando dados 218/365: AJZG23550
Buscando dados 219/365: BLHH53768
Buscando dados 220/365: ESVG06709
Buscando dados 221/365: BZEY80870
Buscando dados 222/365: YUZF74492
Buscando dados 223/365: MSPZ76749
Buscando dados 224/365: NJRG06721
Buscando dados 225/365: RTIZ80917
Buscando dados 226/365: ITSG97062
Buscando dados 227/365: RIXS53464
Buscando dados 228/365: GGGM78782
Buscando dados 229/365: HFEB10246
Buscando dados 230/365: RVHF10897
Buscando dados 231/365: VUJI10625
Buscando dados 232/365: PMPX06029
Buscando dados 233/365: YMJN07005
Buscando dados 234/365: SMGF52530
Buscando dados 235/365: GSZI06869
Buscando dados 236/365: CDBO10673
Buscando dados 237/365: FZQP10396
Buscando dados 238/365: NZGA07022
Buscando dados 239/365: JIRM06161
Buscando dados 240/365: RCLZ06797
Buscando dados 241/365: VFZN11384
Buscando dados 242/365: CDBO11155
Buscando dados 243/365: THDJ11172
Buscando dados 244/365: POPO18550
Buscando dados 245/365: NIPX18741
Buscando dados 246/365: UMNA18288
Buscando dados 247/365: DCGQ72320
Buscando dados 248/365: LESW73286
Buscando dados 249/365: XYRN72687
Fazendo uma pausa de 1 minuto...
Buscando dados 250/365: JPOV78690
Buscando dados 251/365: ZUIU17173
Buscando dados 252/365: YTYV17118
Buscando dados 253/365: EALS35835
Buscando dados 254/365: ZJTW36424
Buscando dados 255/365: UKHV36430
Buscando dados 256/365: YIWE37998
Buscando dados 257/365: HTNQ39602
Buscando dados 258/365: FHRY37807
Buscando dados 259/365: MKVU37659
Buscando dados 260/365: PQCQ36986
Buscando dados 261/365: JICW37518
Buscando dados 262/365: HSDO37848
Buscando dados 263/365: SPDZ35971
Buscando dados 264/365: WOJB37093
Buscando dados 265/365: TIOX38546
Buscando dados 266/365: EATC35944
Buscando dados 267/365: WYFB54549
Buscando dados 268/365: RPIM55972
Buscando dados 269/365: YAZB38863
Buscando dados 270/365: ZNFW24350
Buscando dados 271/365: RKCI54992
Buscando dados 272/365: HHXZ78268
Buscando dados 273/365: JOOL71300
Buscando dados 274/365: FNAF71120
Buscando dados 275/365: NMVS73152
Buscando dados 276/365: HTNQ73134
Buscando dados 277/365: LUHT78439
Buscando dados 278/365: XUMC81097
Buscando dados 279/365: FRBW82060
Buscando dados 280/365: IYUQ81169
Buscando dados 281/365: XYRN86487
Buscando dados 282/365: ZBAZ79704
Buscando dados 283/365: ZRDQ91074
Buscando dados 284/365: SIZW84848
Buscando dados 285/365: TAPQ85749
Buscando dados 286/365: DGCL82617
Buscando dados 287/365: SOQF03130
Buscando dados 288/365: GCYF86172
Buscando dados 289/365: LEIY03857
Buscando dados 290/365: TALW87873
Buscando dados 291/365: BOWJ40709
Buscando dados 292/365: YJPM55154
Buscando dados 293/365: ELUM57266
Buscando dados 294/365: MHIJ54971
Buscando dados 295/365: PPWL54078
Buscando dados 296/365: VOFT09621
Buscando dados 297/365: YLJM05104
Buscando dados 298/365: ZXJO91694
Buscando dados 299/365: PBFO04192
Fazendo uma pausa de 1 minuto...
Buscando dados 300/365: UELH05330
Buscando dados 301/365: KFQN05981
Buscando dados 302/365: PLMP05485
Buscando dados 303/365: NPQH05311
Buscando dados 304/365: YJSN05311
Buscando dados 305/365: UWGL04723
Buscando dados 306/365: KKKP96008
Buscando dados 307/365: TPGO05400
Buscando dados 308/365: DGLC52390
Buscando dados 309/365: SJIT31691
Buscando dados 310/365: ZUKG50028
Buscando dados 311/365: EZAB50211
Buscando dados 312/365: XKOH50731
Buscando dados 313/365: ICRX50305
Buscando dados 314/365: EIPZ51427
Buscando dados 315/365: EXBI53687
Buscando dados 316/365: EWIT53429
Buscando dados 317/365: DYTK59070
Buscando dados 318/365: HOEU52737
Buscando dados 319/365: BXUC56742
Buscando dados 320/365: JFET53251
Buscando dados 321/365: LXQV54406
Buscando dados 322/365: YHXD60928
Buscando dados 323/365: BUIO60614
Buscando dados 324/365: RKDM61361
Buscando dados 325/365: XVUA60406
Buscando dados 326/365: LXOO59456
Buscando dados 327/365: UYFJ61970
Buscando dados 328/365: RXXA58942
Buscando dados 329/365: PPWL59058
Buscando dados 330/365: DODL05588
Buscando dados 331/365: POTW78210
Buscando dados 332/365: KVNV88377
Buscando dados 333/365: WRRA65769
Buscando dados 334/365: JDTL81315
Buscando dados 335/365: BSHY44610
Buscando dados 336/365: RTDN45757
Buscando dados 337/365: XQUC46318
Buscando dados 338/365: WCPW50881
Buscando dados 339/365: OPID82060
Buscando dados 340/365: DVXT49932
Buscando dados 341/365: WDWD46736
Buscando dados 342/365: KWTA44870
Buscando dados 343/365: HHTP46961
Buscando dados 344/365: OPUT47930
Buscando dados 345/365: FGQV53723
Buscando dados 346/365: ZRTG53907
Buscando dados 347/365: TKXK58450
Buscando dados 348/365: PUMV59027
Buscando dados 349/365: QMPL62443
Fazendo uma pausa de 1 minuto...
Buscando dados 350/365: CTZK75126
Buscando dados 351/365: HGVR43626
Buscando dados 352/365: XPNR45178
Buscando dados 353/365: LAMA44610
Buscando dados 354/365: BZGW44149
Buscando dados 355/365: RLJX42857
Buscando dados 356/365: IBYF58990
Buscando dados 357/365: QOVS42512
Buscando dados 358/365: QHGI58432
Buscando dados 359/365: IYNL59473
Buscando dados 360/365: ARDK78657
Buscando dados 361/365: IDSV51539
Buscando dados 362/365: BZGW51616
Buscando dados 363/365: FXMN50419
Buscando dados 364/365: xxxxx
Erro ao fazer a requisição para https://api.mercadolibre.com/inventories/xxxxx/stock/fulfillment: 403 Client Error: Forbidden for url: https://api.mercadolibre.com/inventories/xxxxx/stock/fulfillment

In [31]:
file_path = "../Data/Output/lista_fulfillment_estoque.json"
with open(file_path, "w") as file:
    json.dump(json_list, file)

In [33]:
print(json_list)

[{'inventory_id': 'AVOX05934', 'total': 7, 'available_quantity': 7, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB2003190501'}]}, {'inventory_id': 'WTHI04163', 'total': 15, 'available_quantity': 14, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'transfer', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB2000971378'}]}, {'inventory_id': 'JLAX10536', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB2004809736'}]}, {'inventory_id': 'JFGN34621', 'total': 1, 'available_quantity': 0, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'lost', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB924922735'}]}, {'inventory_id': 'TDFV00990', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB949771924'}]}, {'inventory_id': 'QYGO52123', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB949776093'}]}, {'inventory_id': 'ERIM51807', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB949788598'}]}, {'inventory_id': 'DGBX50777', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB949790387'}]}, {'inventory_id': 'TDFV51283', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB950297972'}]}, {'inventory_id': 'PKNN52962', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB950303724'}]}, {'inventory_id': 'IXGP53982', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB951043222'}]}, {'inventory_id': 'OYUK51882', 'total': 1, 'available_quantity': 0, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'lost', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB1363602423'}]}, {'inventory_id': 'CCQW73335', 'total': 15, 'available_quantity': 15, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1397153967'}]}, {'inventory_id': 'DXJZ75064', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1398114866', 'variation_id': 174302125663}]}, {'inventory_id': 'TNXB83665', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1398114866', 'variation_id': 174302061130}]}, {'inventory_id': 'JDMV76187', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1398114866', 'variation_id': 174301393967}]}, {'inventory_id': 'RJUL81287', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1398114866', 'variation_id': 174302805456}]}, {'inventory_id': 'CIKE94068', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1399101853'}]}, {'inventory_id': 'MENA20785', 'total': 1, 'available_quantity': 0, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'noFiscalCoverage', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB1400763583'}]}, {'inventory_id': 'HXJD21466', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1401964928'}]}, {'inventory_id': 'CQAQ20361', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1401946009'}]}, {'inventory_id': 'GLMK21133', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1403147752', 'variation_id': 48946752091}]}, {'inventory_id': 'ABCB20467', 'total': 9, 'available_quantity': 9, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1403024540', 'variation_id': 48941021297}]}, {'inventory_id': 'ZZGN21450', 'total': 5, 'available_quantity': 5, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1403999905'}]}, {'inventory_id': 'TXWS20511', 'total': 4, 'available_quantity': 4, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1403934211'}]}, {'inventory_id': 'DCPP20168', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1403920691'}]}, {'inventory_id': 'FVTQ20181', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1403791227'}]}, {'inventory_id': 'HTEZ21817', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1403763907'}]}, {'inventory_id': 'XYHC31118', 'total': 2, 'available_quantity': 1, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'transfer', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB1416821703'}]}, {'inventory_id': 'SCKP53673', 'total': 12, 'available_quantity': 12, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1418498416'}]}, {'inventory_id': 'SDNY53354', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1418470905'}]}, {'inventory_id': 'BOWK32167', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1418466676'}]}, {'inventory_id': 'ZZRV30730', 'total': 5, 'available_quantity': 5, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1417658704'}]}, {'inventory_id': 'KRJP31426', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1418014629'}]}, {'inventory_id': 'SCVF31712', 'total': 36, 'available_quantity': 36, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1418532096', 'variation_id': 49773918421}]}, {'inventory_id': 'MLVG32506', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1425101880'}]}, {'inventory_id': 'IRUD34507', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1431387563'}]}, {'inventory_id': 'TPDH38567', 'total': 5, 'available_quantity': 5, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1435969309'}]}, {'inventory_id': 'TLCG38735', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1435852259'}]}, {'inventory_id': 'PUOF38682', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1435836214'}]}, {'inventory_id': 'ZXFT21237', 'total': 48, 'available_quantity': 48, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1400355425'}]}, {'inventory_id': 'JGRW38703', 'total': 20, 'available_quantity': 20, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1440291959'}]}, {'inventory_id': 'AIRQ38676', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1440288810'}]}, {'inventory_id': 'GPGU38258', 'total': 5, 'available_quantity': 5, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1440247563'}]}, {'inventory_id': 'ITMG31457', 'total': 1, 'available_quantity': 0, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'transfer', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB1417877602'}]}, {'inventory_id': 'XDTG30724', 'total': 2, 'available_quantity': 1, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'lost', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB1425113746', 'variation_id': 50098452016}]}, {'inventory_id': 'NWXH48678', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1453957901', 'variation_id': 51547603050}]}, {'inventory_id': 'QOGG45483', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1453221977'}]}, {'inventory_id': 'STLG62905', 'total': 8, 'available_quantity': 8, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1457193551'}]}, {'inventory_id': 'VGBX48763', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1459840256', 'variation_id': 51822196014}]}, {'inventory_id': 'SKXW47953', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1459799420', 'variation_id': 51820237592}]}, {'inventory_id': 'KBOK48388', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1459771919', 'variation_id': 51818479775}]}, {'inventory_id': 'PROW53057', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461271134', 'variation_id': 51915284023}]}, {'inventory_id': 'WOXA67988', 'total': 15, 'available_quantity': 12, 'not_available_quantity': 3, 'not_available_detail': [{'status': 'transfer', 'quantity': 3}], 'external_references': [{'type': 'item', 'id': 'MLB1461223727', 'variation_id': 53864903711}]}, {'inventory_id': 'YLXH65172', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461223727', 'variation_id': 53864757996}]}, {'inventory_id': 'CNHG47042', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461203307', 'variation_id': 51909128584}]}, {'inventory_id': 'PVKY65418', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461199091', 'variation_id': 51908331682}]}, {'inventory_id': 'BOWK48319', 'total': 7, 'available_quantity': 7, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461189878', 'variation_id': 51907695787}]}, {'inventory_id': 'XYHC65769', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461717028'}]}, {'inventory_id': 'XGSW66673', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461705752'}]}, {'inventory_id': 'KNPR48414', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461694747', 'variation_id': 51969383755}]}, {'inventory_id': 'SKXW65690', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461656227', 'variation_id': 51964118353}]}, {'inventory_id': 'HXJD67665', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461638936', 'variation_id': 51963606356}]}, {'inventory_id': 'WIZE67325', 'total': 2, 'available_quantity': 1, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'transfer', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB1461563722'}]}, {'inventory_id': 'CNHG66088', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461528267'}]}, {'inventory_id': 'CJBY66878', 'total': 6, 'available_quantity': 6, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461518341'}]}, {'inventory_id': 'PWQU66026', 'total': 4, 'available_quantity': 4, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461494358', 'variation_id': 51947239374}]}, {'inventory_id': 'KMCL67683', 'total': 5, 'available_quantity': 5, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461289586'}]}, {'inventory_id': 'GMII66042', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461278862', 'variation_id': 51916395676}]}, {'inventory_id': 'EDGP47752', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1462419558', 'variation_id': 52021118145}]}, {'inventory_id': 'GLMK66383', 'total': 4, 'available_quantity': 4, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461737680'}]}, {'inventory_id': 'ZZRV46957', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1461737659', 'variation_id': 51976745783}]}, {'inventory_id': 'JJMG49643', 'total': 6, 'available_quantity': 6, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1464478537', 'variation_id': 52126622241}]}, {'inventory_id': 'AGDL67534', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1465468123', 'variation_id': 52185905717}]}, {'inventory_id': 'JNYZ66723', 'total': 14, 'available_quantity': 13, 'not_available_quantity': 1, 'not_available_detail': [{'status': 'transfer', 'quantity': 1}], 'external_references': [{'type': 'item', 'id': 'MLB1465231671', 'variation_id': 52179893239}]}, {'inventory_id': 'MOPJ68127', 'total': 10, 'available_quantity': 10, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1465231671', 'variation_id': 52181329446}]}, {'inventory_id': 'LDBL64899', 'total': 21, 'available_quantity': 13, 'not_available_quantity': 8, 'not_available_detail': [{'status': 'transfer', 'quantity': 8}], 'external_references': [{'type': 'item', 'id': 'MLB1465231671', 'variation_id': 52180354992}]}, {'inventory_id': 'AGDL67547', 'total': 15, 'available_quantity': 15, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1465231671', 'variation_id': 52181037451}]}, {'inventory_id': 'DJDL49028', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1464498239', 'variation_id': 52127803367}]}, {'inventory_id': 'WNYY55014', 'total': 5, 'available_quantity': 5, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1476093449'}]}, {'inventory_id': 'WRRA54468', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1476087059'}]}, {'inventory_id': 'ENML56386', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1478212260', 'variation_id': 52917805648}]}, {'inventory_id': 'SPKV63227', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1490210934'}]}, {'inventory_id': 'CMXV62869', 'total': 4, 'available_quantity': 4, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1490245796'}]}, {'inventory_id': 'ELKX63703', 'total': 6, 'available_quantity': 6, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1490289695'}]}, {'inventory_id': 'MHXR70863', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1492560842'}]}, {'inventory_id': 'MENA66694', 'total': 1, 'available_quantity': 1, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1495140105'}]}, {'inventory_id': 'DZVJ05686', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1556975175', 'variation_id': 57895096313}]}, {'inventory_id': 'FFIA05428', 'total': 16, 'available_quantity': 16, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1556962508', 'variation_id': 57894680904}]}, {'inventory_id': 'OXVU12317', 'total': 14, 'available_quantity': 14, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1565008518'}]}, {'inventory_id': 'OVRP11252', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1564998298'}]}, {'inventory_id': 'XGVG11805', 'total': 3, 'available_quantity': 3, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1568293054'}]}, {'inventory_id': 'ELKB12099', 'total': 2, 'available_quantity': 2, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1567957793'}]}, {'inventory_id': 'JJMG39331', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1440293157', 'variation_id': 50874039564}]}, {'inventory_id': 'JGED44177', 'total': 7, 'available_quantity': 7, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1618733551', 'variation_id': 61380959220}]}, {'inventory_id': 'LKXA44509', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_references': [{'type': 'item', 'id': 'MLB1618249173', 'variation_id': 61376044570}]}, {'inventory_id': 'SSGO43954', 'total': 0, 'available_quantity': 0, 'not_available_quantity': 0, 'not_available_detail': [], 'external_re

### Extraindo dados

In [89]:
resultados = []

for item in json_list:
    # Extrair os valores desejados
    inventory_id = item["inventory_id"]
    total = item["total"]
    available_quantity = item["available_quantity"]
    not_available_quantity = item["not_available_quantity"]
    not_available_detail = item.get(
        "not_available_detail", []
    )  # Evita KeyError se "not_available_detail" estiver ausente
    external_references = item.get("external_references", [])

    # Inicializa variáveis para armazenar detalhes
    not_available_detail_status = None
    not_available_detail_quantity = None
    external_references_type = None
    external_references_id = None
    external_references_variation_id = None

    # Verifica se há pelo menos um item em "not_available_detail"
    if not_available_detail:
        not_available_detail_status = not_available_detail[0].get("status")
        not_available_detail_quantity = not_available_detail[0].get("quantity")

    if external_references:
        external_references_type = external_references[0].get("type")
        external_references_id = external_references[0].get("id")
        external_references_variation_id = external_references[0].get("variation_id")

    # Adicionar os resultados à lista
    resultados.append(
        {
            "inventory_id": inventory_id,
            "total": total,
            "available_quantity": available_quantity,
            "not_available_quantity": not_available_quantity,
            # "not_available_detail": not_available_detail,
            # "external_references": external_references,
            "not_available_detail_status": not_available_detail_status,
            "not_available_detail_quantity": not_available_detail_quantity,
            "external_references_type": external_references_type,
            "external_references_id": external_references_id,
            "external_references_variation_id": external_references_variation_id,
        }
    )

# Exibir os resultados
df = pd.DataFrame(resultados)
print(df.shape)
df.sample()

(364, 9)

,inventory_id,total,available_quantity,not_available_quantity,not_available_detail_status,not_available_detail_quantity,external_references_type,external_references_id,external_references_variation_id
227,RIXS53464,4,4,0,None,NaN,item,MLB1629396951,NaN

In [90]:
df.dtypes

inventory_id                         object
total                                 int64
available_quantity                    int64
not_available_quantity                int64
not_available_detail_status          object
not_available_detail_quantity       float64
external_references_type             object
external_references_id               object
external_references_variation_id    float64
dtype: object

In [91]:
# df['external_references_variation_id'].astype(str).apply(lambda x:x.rstrip('.0'))
df["external_references_variation_id"] = (
    df["external_references_variation_id"].astype(str).apply(lambda x: x.rstrip(".0"))
)
df

,inventory_id,total,available_quantity,not_available_quantity,not_available_detail_status,not_available_detail_quantity,external_references_type,external_references_id,external_references_variation_id
0,AVOX05934,7,7,0,None,NaN,item,MLB2003190501,nan
1,WTHI04163,15,14,1,transfer,1.0,item,MLB2000971378,nan
2,JLAX10536,3,3,0,None,NaN,item,MLB2004809736,nan
3,JFGN34621,1,0,1,lost,1.0,item,MLB924922735,nan
4,TDFV00990,0,0,0,None,NaN,item,MLB949771924,nan
...,...,...,...,...,...,...,...,...,...
359,IYNL59473,8,8,0,None,NaN,item,MLB3339660079,178533059695
360,ARDK78657,15,15,0,None,NaN,item,MLB3339660079,178533059697
361,IDSV51539,64,64,0,None,NaN,item,MLB3339660079,178533059699
362,BZGW51616,25,25,0,None,NaN,item,MLB3339660079,178533059701
363,FXMN50419,0,0,0,None,NaN,item,MLB950296037,nan

In [92]:
df.dtypes

inventory_id                         object
total                                 int64
available_quantity                    int64
not_available_quantity                int64
not_available_detail_status          object
not_available_detail_quantity       float64
external_references_type             object
external_references_id               object
external_references_variation_id     object
dtype: object

In [94]:
df["not_available_detail_quantity"] = pd.to_numeric(
    df["not_available_detail_quantity"], errors="coerce"
).astype("Int64")
df["not_available_detail_status"] = df["not_available_detail_status"].astype(str)
df["external_references_id"] = df["external_references_id"].astype(str)
df

,inventory_id,total,available_quantity,not_available_quantity,not_available_detail_status,not_available_detail_quantity,external_references_type,external_references_id,external_references_variation_id
0,AVOX05934,7,7,0,None,<NA>,item,MLB2003190501,nan
1,WTHI04163,15,14,1,transfer,1,item,MLB2000971378,nan
2,JLAX10536,3,3,0,None,<NA>,item,MLB2004809736,nan
3,JFGN34621,1,0,1,lost,1,item,MLB924922735,nan
4,TDFV00990,0,0,0,None,<NA>,item,MLB949771924,nan
...,...,...,...,...,...,...,...,...,...
359,IYNL59473,8,8,0,None,<NA>,item,MLB3339660079,178533059695
360,ARDK78657,15,15,0,None,<NA>,item,MLB3339660079,178533059697
361,IDSV51539,64,64,0,None,<NA>,item,MLB3339660079,178533059699
362,BZGW51616,25,25,0,None,<NA>,item,MLB3339660079,178533059701
363,FXMN50419,0,0,0,None,<NA>,item,MLB950296037,nan

In [98]:
conn = psycopg2.connect(**db_config)
cursor = conn.cursor()

for index, row in df.iterrows():
    # Substituir valores NaN por None
    # row = row.where(pd.notna(), None)
    row = row.apply(lambda x: None if pd.isna(x) else x)

    insert_query = sql.SQL(
        """
        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)
        VALUES (%s, %s, %s, %s, %s, %s)
        """
    )
    cursor.execute(
        insert_query,
        (
            row["inventory_id"],
            row["available_quantity"],
            row["not_available_detail_status"],
            row["not_available_detail_quantity"],
            row["external_references_id"],
            row["external_references_variation_id"],
        ),
    )
    # print(insert_query)

conn.commit()

cursor.close()
conn.close()

print("Dados inseridos com sucesso!")

SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')
SQL('\n        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, detail_status, detail_quantity, references_id, references_variation_id)\n        VALUES (%s, %s, %s, %s, %s, %s)\n        ')

In [99]:
df

,inventory_id,total,available_quantity,not_available_quantity,not_available_detail_status,not_available_detail_quantity,external_references_type,external_references_id,external_references_variation_id
0,AVOX05934,7,7,0,None,<NA>,item,MLB2003190501,nan
1,WTHI04163,15,14,1,transfer,1,item,MLB2000971378,nan
2,JLAX10536,3,3,0,None,<NA>,item,MLB2004809736,nan
3,JFGN34621,1,0,1,lost,1,item,MLB924922735,nan
4,TDFV00990,0,0,0,None,<NA>,item,MLB949771924,nan
...,...,...,...,...,...,...,...,...,...
359,IYNL59473,8,8,0,None,<NA>,item,MLB3339660079,178533059695
360,ARDK78657,15,15,0,None,<NA>,item,MLB3339660079,178533059697
361,IDSV51539,64,64,0,None,<NA>,item,MLB3339660079,178533059699
362,BZGW51616,25,25,0,None,<NA>,item,MLB3339660079,178533059701
363,FXMN50419,0,0,0,None,<NA>,item,MLB950296037,nan

In [4]:
db_config = {
    "host": "backup2.cmenzobfpepq.sa-east-1.rds.amazonaws.com",
    "database": POSTGRES_DB,
    "user": POSTGRES_USER,
    "password": POSTGRES_PASSWORD,
}
# Buscando histórico de vendas na tabela ml_orders_hist para o período definido
try:
    conn = psycopg2.connect(**db_config)

    # Construa a consulta SQL com a condição de data
    sql_query = f"SELECT * FROM fulfillment_stock_hist"
    print(sql_query)
    # Execute a consulta e leia os dados em um DataFrame
    df = pd.read_sql(sql_query, conn)

except psycopg2.Error as e:
    print(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")

except Exception as e:
    print(f"Erro ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro ao consultar ml_orders_hist: {e}")

finally:
    if conn is not None:
        conn.close()

SELECT * FROM fulfillment_stock_hist

C:\Users\couti\AppData\Local\Temp\ipykernel_4532\3790987738.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

In [5]:
df

      ml_inventory_id  available_quantity                 created_at
0           DSGP06967                   6 2023-11-23 11:43:27.867518
1           DSGP06979                   7 2023-11-23 11:43:27.867518
2           JJSZ06277                  48 2023-11-23 11:43:27.867518
3           DGCL82617                  13 2023-11-23 11:43:27.867518
4           GCYF86172                  12 2023-11-23 11:43:27.867518
...               ...                 ...                        ...
45077       ERIM51807                   0 2023-12-04 00:01:03.041159
45078       TDFV51283                   0 2023-12-04 00:01:03.041159
45079       OYUK51882                   0 2023-12-04 00:01:03.041159
45080       BLHH53768                  14 2023-12-04 00:01:03.041159
45081       RKCI54992                   2 2023-12-04 00:01:03.041159

[45082 rows x 3 columns]

In [8]:
db_config = {
    "host": "mcenter.cmenzobfpepq.sa-east-1.rds.amazonaws.com",
    "database": POSTGRES_DB,
    "user": POSTGRES_USER,
    "password": POSTGRES_PASSWORD,
}

conn = psycopg2.connect(**db_config)
cursor = conn.cursor()

for index, row in df.iterrows():
    # Substituir valores NaN por None
    # row = row.where(pd.notna(), None)
    # row = row.apply(lambda x: None if pd.isna(x) else x)

    insert_query = sql.SQL(
        """
        INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, created_at)
        
        VALUES (%s, %s, %s)
        """
    )
    cursor.execute(
        insert_query,
        (
            row["ml_inventory_id"],
            row["available_quantity"],
            row["created_at"],
            # row["not_available_detail_status"],
            # row["not_available_detail_quantity"],
            # row["external_references_id"],
            # row["external_references_variation_id"],
        ),
    )
    # print(insert_query)

conn.commit()

cursor.close()
conn.close()

print("Dados inseridos com sucesso!")

Dados inseridos com sucesso!

In [21]:
### AMBIENTE DE TESTES ###
### Repetindo os dados com dias diferentes
conn = psycopg2.connect(**db_config)
cursor = conn.cursor()
import datetime

custom_created_at = datetime.datetime(2023, 11, 20, 1, 0, 0)

for _ in range(30):  # Repetir 30 vezes para adicionar dados com datas diferentes
    for index, row in df_full.iterrows():  # preenchendo db com dados de estoque
        insert_query = sql.SQL(
            """
                INSERT INTO fulfillment_stock_hist (ml_inventory_id, available_quantity, created_at)
                VALUES (%s, %s, %s)
            """
        )
        cursor.execute(
            insert_query,
            (row["inventory_id"], row["available_quantity"], custom_created_at),
        )
    custom_created_at += datetime.timedelta(days=-1)


conn.commit()

cursor.close()
conn.close()

print("Dados inseridos com sucesso!")

Dados inseridos com sucesso!