Depositos para enviar, orderm de preferencia:
musical_matriz
musical_filal
em seguida onde houver mais estoque


onde days_available = 0 criar observação onde informa que há muito tempo sem estoque

In [1]:
import json
import os
import time
from pandas import json_normalize
import psycopg2
from psycopg2 import sql
import math
import pandas as pd
import requests
from dotenv import load_dotenv
from datetime import datetime, timedelta
import numpy as np

load_dotenv()

ACCESS_TOKEN_MCENTER = os.getenv("ACCESS_TOKEN_MCENTER")
ACCESS_TOKEN_BUENOSHOPS = os.getenv("ACCESS_TOKEN_BUENOSHOPS")
ACCESS_TOKEN_MUSICALCRIS = os.getenv("ACCESS_TOKEN_MUSICALCRIS")

HOST = os.getenv("HOST")
POSTGRES_DB = os.getenv("POSTGRES_DB")
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")


# Informações de conexão com o banco de dados PostgreSQL
db_config = {
    "host": HOST,
    "database": POSTGRES_DB,
    "user": POSTGRES_USER,
    "password": POSTGRES_PASSWORD,
}

In [2]:
def condf(df, coluna, valor):
    """
    Consulta um DataFrame com base em uma coluna e valor específicos.

    Parâmetros:
    - df: DataFrame a ser consultado.
    - coluna: Nome da coluna para a condição de consulta.
    - valor: Valor desejado na coluna.

    Retorna:
    Um DataFrame contendo apenas as linhas que atendem à condição.
    """
    resultado = df[df[coluna] == valor]
    return resultado


def condf_date(df, coluna_data, data_pesquisada):
    """
    Consulta um DataFrame com base em uma coluna de datas.

    Parâmetros:
    - df: DataFrame a ser consultado.
    - coluna_data: Nome da coluna de datas.
    - data_pesquisada: Data desejada para a consulta.

    Retorna:
    Um DataFrame contendo apenas as linhas que correspondem à data pesquisada.
    """
    resultado = df[pd.to_datetime(df[coluna_data]).dt.date == data_pesquisada]
    return resultado

### Período a consultar

In [3]:
# Defina as datas de início e fim desejadas
data_inicio = datetime(2023, 11, 1).date()
data_fim = datetime(2023, 12, 28).date()
# data_fim = data_fim + timedelta(days=1)  # + 1 dia para pegar a data atual no DB
# data_fim = data_fim - timedelta(days=1)  # + 1 dia para pegar a data atual no DB
print("data_inicio: ", data_inicio)
print("data_fim: ", data_fim)

data_inicio:  2023-11-01
data_fim:  2023-12-28

### Historico de estoque fulfillment

In [4]:
# Buscando histórico de estoque na tabela
try:
    conn = psycopg2.connect(**db_config)

    sql_query = f"SELECT * FROM mcenter_fulfillment_stock WHERE created_at BETWEEN '{data_inicio}' AND '{data_fim};'"
    # sql_query = f"SELECT * FROM fulfillment_stock WHERE created_at BETWEEN '2023-12-04' AND '2023-12-05';"
    print(sql_query)
    df_stock = pd.read_sql(sql_query, conn)

except psycopg2.Error as e:
    print(f"Erro do psycopg2 ao consultar fulfillment_stock: {e}")

except Exception as e:
    print(f"Erro ao consultar fulfillment_stock: {e}")

finally:
    if conn is not None:
        conn.close()

SELECT * FROM mcenter_fulfillment_stock WHERE created_at BETWEEN '2023-11-01' AND '2023-12-28;'

C:\Users\couti\AppData\Local\Temp\ipykernel_3608\1935300295.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_stock = pd.read_sql(sql_query, conn)

In [5]:
# df_stock
# print(df_stock.shape)
# duplicates = df_stock[df_stock.duplicated(keep=False)]
# duplicates

In [6]:
# # datas consultadas, dias em que um produto pode ou não estar disponível
# # df_stock["created_at"].value_counts().index.to_list()
# df_stock["created_at"].value_counts().sort_index()
# df_stock["created_at"].dt.date.value_counts().sort_index()
# # df_stock["created_at"].dt.date.value_counts()

# # len(df_stock["created_at"].dt.date.value_counts().sort_index())

In [7]:
# df_stock

In [8]:
# # buscando anuncio e verificando dias consultados
# result = df_stock[df_stock['ml_inventory_id'] == 'FBAY80623']
# result = result.sort_values(by='created_at')
# result

In [9]:
# # encontrando anuncios pela data
# df_stock["created_at"] = pd.to_datetime(df_stock["created_at"])
# result = df_stock.loc[df_stock['created_at'].dt.date == pd.to_datetime('2023-12-7').date()]
# result

In [10]:
# df_stock[df_stock['created_at']=='2023-12-07 03:01:03.036386']

In [11]:
# Ordenando stock por data
df_stock = df_stock.sort_values(by="created_at", ascending=False)
df_stock["data"] = df_stock["created_at"].dt.date
df_stock = df_stock.drop(["created_at"], axis=1)

In [12]:
# df_stock

In [13]:
# df_stock.dtypes

In [14]:
# df_stock['data'] = pd.to_datetime(df_stock['data'])

# dfx = condf(df_stock, 'data', '2023-11-1')
# dfx

In [15]:
# # A linha abaixo conta as ocorrências de cada valor em 'ml_inventory_id'
# # value_counts = result['ml_inventory_id'].value_counts()
# value_counts = df_stock['ml_inventory_id'].value_counts()

# # Filtra para incluir apenas aqueles que ocorrem mais de 2 vezes
# filtered_counts = value_counts[value_counts > 1]

# filtered_counts.shape
# # filtered_counts
# value_counts

In [16]:
# df_stock[df_stock["detail_status"] == "transfer"]

In [17]:
# condf(df_stock,'ml_inventory_id','CRMK90073')

In [18]:
# condf(df_stock, "detail_status", "transfer")

In [19]:
## Cria coluna has_stock, se available_quantity <= 0, has_stock= False ##
df_stock = df_stock.assign(has_stock=lambda x: x["available_quantity"] > 0)
df_stock = df_stock.sort_values(by="data", ascending=False).reset_index(drop=True)

In [20]:
# df_stock

In [21]:
# condf(df_stock, "ml_inventory_id", "DSGP06967")

In [22]:
# print(df_stock.shape)
# df_stock = df_stock.drop_duplicates()
# print(df_stock.shape)

#### Dias em que produto esteve disponível

In [23]:
# condf(df_stock,'ml_inventory_id','ABCB20467')

In [24]:
## Contando dias em que produto esteve disponível
days_available = df_stock.groupby(["ml_inventory_id"])["has_stock"].sum().reset_index()
days_available = days_available.rename(columns={"has_stock": "days_available"})

In [25]:
# days_available

In [26]:
# days_available.sort_values(by='days_available',ascending=False)
# days_available['days_available'].value_counts()

# ## Contando dias em que produto esteve disponível
# days_available = df_stock.groupby(["ml_inventory_id","references_variation_id"])["has_stock"].sum().reset_index()
# days_available = days_available.rename(columns={"has_stock": "days_available"})
# days_available

In [27]:
# condf(df_stock, "ml_inventory_id", "MENA66694")

In [28]:
# ## Contando dias em que produto esteve disponível
# days_available_ = df_stock.groupby(["ml_inventory_id","references_variation_id"])["has_stock"].sum().reset_index()
# days_available_ = days_available_.rename(columns={"has_stock": "days_available"})
# days_available_

In [29]:
# condf(days_available, "ml_inventory_id", "DSGP06967")
# condf(days_available, "ml_inventory_id", "DSGP06967")

In [30]:
# Unindo DFs
df_stock_days = df_stock.merge(days_available, on=["ml_inventory_id"], how="inner")
# df_stock_days_left = df_stock.merge(days_available, on=["ml_inventory_id"], how="left")
# df_stock.rename(columns={'days_available_x': 'days_available'}, inplace=True)  # Corrigindo a sintaxe
# df_stock = df_stock.drop(columns='days_available_y', axis=1)  # Corrigindo a sintaxe

# Verificando o formato após a correção
# print(df_stock.shape)
#

In [31]:
# print(df_stock.shape)
# print(df_stock_days.shape)
# print(df_stock_days_left.shape)
# df_stock_days.sample(3)

In [32]:
# # Unindo DFs
# df_stock_ = df_stock.merge(days_available, on=["ml_inventory_id"], how="inner")
# # df_stock_.rename(columns={'days_available_x': 'days_available'}, inplace=True)  # Corrigindo a sintaxe
# # df_stock_ = df_stock_.drop(columns='days_available_y', axis=1)  # Corrigindo a sintaxe

# # Verificando o formato após a correção
# print(df_stock_.shape)
# df_stock_

In [33]:
# data de hoje
data_de_hoje = datetime.now().date()
data_de_hoje = data_de_hoje - timedelta(days=1)
# print(data_de_hoje)

df_stock_days["data"] = pd.to_datetime(df_stock_days["data"])

# Filtra apenas as linhas onde 'data' é igual à data de hoje
df_stock_today = df_stock_days[df_stock_days["data"].dt.date == data_de_hoje]
df_stock_today = df_stock_today.rename(
    columns={"available_quantity": "available_quantity_today"}
)

# Se detail_status = transfer: available_quantity_today = available_quantity_today + detail_quantity
df_stock_today["total_available_quantity"] = df_stock_today.apply(
    lambda row: row["detail_quantity"] + row["available_quantity_today"]
    if row["detail_status"] == "transfer"
    else row["available_quantity_today"],
    axis=1,
)

df_stock_today["total_available_quantity"] = df_stock_today[
    "total_available_quantity"
].astype("int64")

In [34]:
df_stock_today

,ml_inventory_id,available_quantity_today,detail_status,detail_quantity,references_id,references_variation_id,data,has_stock,days_available,total_available_quantity
0,WQLG77218,0,None,NaN,MLB1942106803,nan,2023-12-27,False,0,0
45,NOMF53205,1,None,NaN,MLB1629586589,nan,2023-12-27,True,45,1
90,HGRL10383,2,None,NaN,MLB2003270402,nan,2023-12-27,True,43,2
135,BPGQ10723,0,None,NaN,MLB2001140622,nan,2023-12-27,False,36,0
180,KBOK48388,2,None,NaN,MLB1459771919,51818479775,2023-12-27,True,45,2
...,...,...,...,...,...,...,...,...,...,...
16155,CDBO10673,8,None,NaN,MLB2006338750,nan,2023-12-27,True,45,8
16200,NZGA07022,1,transfer,1.0,MLB2006323551,nan,2023-12-27,True,42,2
16245,PMPX06029,12,None,NaN,MLB2006353434,nan,2023-12-27,True,45,12
16290,VUJI10625,14,transfer,3.0,MLB2006357183,nan,2023-12-27,True,45,17
16335,RVHF10897,11,None,NaN,MLB2006357721,nan,2023-12-27,True,45,11

In [35]:
# Se detail_status = transfer: available_quantity_today = available_quantity_today + detail_quantity
df_stock_today["total_available_quantity"] = df_stock_today.apply(
    lambda row: row["detail_quantity"] + row["available_quantity_today"]
    if row["detail_status"] == "transfer"
    else row["available_quantity_today"],
    axis=1,
)

df_stock_today["total_available_quantity"] = df_stock_today[
    "total_available_quantity"
].astype("int64")

In [36]:
# df_stock_today.sample(5)

In [37]:
# condf(df_stock,'ml_inventory_id','FSNB97805')
# condf(df_stock_today,'ml_inventory_id','FSNB97805')

### Buscando hitorico de orders no BD

In [38]:
# Buscando histórico de vendas na tabela ml_orders_hist para o período definido
try:
    conn = psycopg2.connect(**db_config)

    sql_query = f"SELECT * FROM mcenter_ml_orders WHERE date_closed BETWEEN '{data_inicio}' AND '{data_fim}'"
    print(sql_query)
    df_orders = pd.read_sql(sql_query, conn)

except psycopg2.Error as e:
    print(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")

except Exception as e:
    print(f"Erro ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro ao consultar ml_orders_hist: {e}")

finally:
    if conn is not None:
        conn.close()

# # Ordenando orders por data
# df_orders = df_orders.sort_values(by="date_approved", ascending=False)
# df_orders["data"] = df_orders["date_approved"].dt.date
# df_orders = df_orders.drop(["date_closed","date_approved"], axis=1)

# filtros
df_orders = df_orders[df_orders["logistic_type"] == "fulfillment"]
# df_orders = df_orders.drop(columns=['category_id','pack_id','variation_attributes_id','variation_name','variation_value_id', 'data'])
df_orders = df_orders.drop(
    columns=[
        "category_id",
        "pack_id",
        "variation_attributes_id",
        "variation_name",
        "variation_value_id",
    ]
)

# change column
df_orders["variation_id"] = df_orders["variation_id"].replace("nan", "0", regex=True)

# df_orders = df_orders[df_orders["order_status"] == "paid"]
# df_orders = df_orders[df_orders["payment_status"] == "approved"]


# df_orders = df_orders.drop(
#     ["pack_id", "date_approved", "order_status", "payment_status"], axis=1
# )
df_orders.rename(columns={"quantity": "sold_quantity"}, inplace=True)

SELECT * FROM mcenter_ml_orders WHERE date_closed BETWEEN '2023-11-01' AND '2023-12-28'

C:\Users\couti\AppData\Local\Temp\ipykernel_3608\2680549919.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_orders = pd.read_sql(sql_query, conn)

In [39]:
print(df_orders.shape)
df_orders = df_orders.drop_duplicates()
print(df_orders.shape)

(7770, 13)
(6866, 13)

In [40]:
# Ordenando orders por data
df_orders = df_orders.sort_values(by="date_approved", ascending=False)
df_orders["data"] = df_orders["date_approved"].dt.date
df_orders = df_orders.drop(["date_closed", "date_approved"], axis=1)

In [41]:
df_orders.sample(3)

,ml_code,variation_id,seller_sku,order_id,sold_quantity,title,order_status,payment_status,shipping_id,variation_value_name,logistic_type,data
4862,MLB3427769549,0,FULLIZZO6480,2000006996814334,2,Pandeiro Profissional Izzo Pele Preta 10 Corpo...,paid,approved,42843124195,None,fulfillment,2023-11-27
1560,MLB3829652726,0,FULLP10NINJA15FT,2000006834961566,1,"Cabo Santo Angelo Ninja 4,57m P10 Reto Guitarr...",paid,approved,42773681152,None,fulfillment,2023-11-07
9633,MLB2192269456,174349843073,FULLMEMPHISHONUSG,2000007210948632,1,Ukulele Soprano Memphis Tagima 21 Havaí Honu ...,paid,approved,42934921714,Verde,fulfillment,2023-12-20

In [42]:
# df_orders.head()

In [43]:
# df_orders
# df_orders['pack_id'].value_counts()

# # condf(df_orders,'pack_id','2000005059931419')

In [44]:
# print(df_orders.shape)
# df_orders.head(3)

In [45]:
# condf(df_orders, "ml_code", "MLB1992541482")

#### Total de vendas por ml_code e variation_id

In [46]:
# df_orders.shape

In [47]:
# df_orders

In [48]:
# condf(df_orders,'ml_code','MLB3516894673')

In [49]:
# Total de vendas por ml_code e id de variação
df_orders_quantity = (
    df_orders.groupby(["ml_code", "variation_id"])["sold_quantity"].sum().reset_index()
)

In [50]:
df_orders_quantity

           ml_code  variation_id  sold_quantity
0    MLB1363602423             0             24
1    MLB1398114866  174301393967              1
2    MLB1398114866  174302125663              2
3    MLB1399101853             0              1
4    MLB1400355425             0             39
..             ...           ...            ...
352  MLB4217370456             0              1
353  MLB4237823132             0              6
354  MLB4297958304             0              4
355   MLB924922735             0             14
356   MLB950214971             0              1

[357 rows x 3 columns]

In [51]:
print(f"Número de ml_code únicos: {len(df_orders_quantity['ml_code'].unique())}")
print(
    f"Número de variation_id únicos: {len(df_orders_quantity['variation_id'].unique())}"
)

Número de ml_code únicos: 284
Número de variation_id únicos: 132

In [52]:
# condf(df_orders_quantity,'ml_code','MLB2075516288')
# df_orders_quantity['ml_code'].value_counts()

In [53]:
# Acrescentando total de vendas ao DF
df_total_sales = pd.merge(
    # df_orders, resultado, on=["ml_code", "variation_id"], how="inner"
    df_orders,
    df_orders_quantity,
    on=["ml_code", "variation_id"],
    how="inner",
)
df_total_sales = df_total_sales.rename(
    columns={"sold_quantity_y": "total_sold_quantity"}
)
df_total_sales = df_total_sales.drop(
    columns=["sold_quantity_x", "order_status", "payment_status"]
)

In [54]:
print(f"Total de vendas = {df_total_sales.shape[0]}")

Total de vendas = 6866

In [55]:
# df_orders.shape

In [56]:
# df_total_sales.columns

In [57]:
# df_total_sales.sample()

In [58]:
# # # Exibir todas as linhas e colunas
# # pd.set_option('display.max_rows', None)
# # pd.set_option('display.max_columns', None)

# # Voltar ao normal
# pd.reset_option('display.max_rows')
# pd.reset_option('display.max_columns')


# # condf(df_total_sales,'ml_code','MLB3427769549')
# # # x = condf(df_orders,'ml_code','MLB3427769549')

# # # x = x.sort_values(by='data')
# # # x.head(15)
# # x = df_orders[df_orders['ml_code']=='MLB3427769549']
# # x['data'] = pd.to_datetime(x['data'])
# # x[x['data']=='2023-11-22']
# # # x['sold_quantity'].value_counts()

# # # counts = x[x['sold_quantity'] > 1]['sold_quantity'].value_counts()
# # # counts

# # y = x.groupby('data')['sold_quantity'].sum().reset_index()
# # y

# # # # x

In [59]:
# x.dtypes

In [60]:
# df_total_sales['data'].value_counts()

In [61]:
# condf(df_total_sales, "ml_code", "MLB4127982748")
# condf(df_total_sales, "ml_code", "MLB4127982748")

In [62]:
# df_total_sales = df_total_sales.drop(["sold_quantity_x", "shipping_id", "data"], axis=1)
# df_total_sales = df_total_sales.drop_duplicates()

In [63]:
# condf(df_total_sales, "ml_code", "MLB1992541482")

Neste ponto temos o total de itens vendidos de um anúncio por período e a quantidade de dias em que um produto esteve disponível.
precisamos juntar esses dados para calcular, para isso trarei as informações de produtos

In [64]:
# print(df_total_sales.shape)
# df_total_sales.sample()

In [65]:
# condf(df_total_sales, 'ml_code', 'MLB3461718736')
# condf(df_orders, 'ml_code', 'MLB3461718736')
# # condf(resultado, 'ml_code', 'MLB3427769549')
# # condf(df_stock, 'ml_code', 'MLB3427769549')

In [66]:
# print(df_stock_today.shape)
# df_stock_today.sample()

#### Buscando Produtos

In [67]:
# Buscando dados de produtos na tabela tiny_fulfillment
try:
    conn = psycopg2.connect(**db_config)
    sql_query = "SELECT * FROM mcenter_items"
    df_codes = pd.read_sql(sql_query, conn)
except psycopg2.Error as e:
    # logger.error(f"Erro do psycopg2 ao consultar fulfillment_stock: {e}")
    print(f"Erro do psycopg2 ao consultar tiny_fulfillment: {e}")

except Exception as e:
    # logger.error(f"Erro ao consultar tabela tiny_fulfillment: {e}")
    print(f"Erro ao consultar tabela tiny_fulfillment: {e}")

finally:
    if conn is not None:
        conn.close()

# df_codes["ml_code"] = df_codes["ml_code"].apply(lambda x: "MLB" + str(x))
df_codes.rename(columns={"inventory_id": "ml_inventory_id"}, inplace=True)
df_codes = df_codes.drop(["created_at", "updated_at"], axis=1)

C:\Users\couti\AppData\Local\Temp\ipykernel_3608\3854357628.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_codes = pd.read_sql(sql_query, conn)

In [68]:
df_not_catalogo = df_codes[df_codes["catalog_listing"] == False]
df_catalogo = df_codes[df_codes["catalog_listing"] == True]

In [69]:
df_not_catalogo.sample()

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type
135,MLB1440288810,AIRQ38676,NaN,NaN,active,False,fulfillment

In [70]:
df_catalogo.sample()

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type
93,MLB3438642951,YJPM55154,NaN,NaN,active,True,fulfillment

In [71]:
df_not_catalogo

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type
0,MLB1435852259,TLCG38735,NaN,NaN,active,False,fulfillment
1,MLB1435836214,PUOF38682,NaN,NaN,active,False,fulfillment
2,MLB1400355425,ZXFT21237,NaN,NaN,active,False,fulfillment
3,MLB1440291959,JGRW38703,NaN,NaN,active,False,fulfillment
4,MLB1564998298,OVRP11252,NaN,NaN,paused,False,fulfillment
...,...,...,...,...,...,...,...
527,MLB1490210934,SPKV63227,nan,NaN,paused,False,fulfillment
528,MLB1556975175,DZVJ05686,Marrom,57895096313,active,False,fulfillment
529,MLB950338822,MAEG54107,nan,NaN,paused,False,fulfillment
530,MLB1662970458,UIUW89800,Preto,64498487033,paused,False,fulfillment
531,MLB1942106803,WQLG77218,nan,NaN,paused,False,fulfillment

In [72]:
print(df_not_catalogo.shape)
print(df_catalogo.shape)

(361, 7)
(171, 7)

In [73]:
df_catalogo

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type
19,MLB2170026503,ZNFW24350,NaN,NaN,paused,True,fulfillment
26,MLB3435374559,RYWV54124,NaN,NaN,paused,True,fulfillment
27,MLB3435352761,QYGO52123,NaN,NaN,paused,True,fulfillment
28,MLB3435350955,HGVR43626,NaN,NaN,active,True,fulfillment
29,MLB3435245361,PKNN52962,NaN,NaN,paused,True,fulfillment
...,...,...,...,...,...,...,...
519,MLB4127982748,RLJX42857,nan,NaN,paused,True,fulfillment
520,MLB3497394073,XGSW66673,nan,NaN,paused,True,fulfillment
521,MLB4191526348,LXOO59456,nan,NaN,paused,True,fulfillment
522,MLB3521778415,PSMV02965,nan,NaN,paused,True,fulfillment
523,MLB3529585309,ESVG06709,nan,NaN,paused,True,fulfillment

In [74]:
# df_orders.sample()

In [75]:
df_total_sales_cat = pd.merge(
    df_catalogo,
    df_total_sales,
    left_on=["ml_code"],
    right_on=["ml_code"],
    how="left",
)
df_total_sales_cat = df_total_sales_cat.drop_duplicates()

df_total_sales_not_cat = pd.merge(
    df_not_catalogo,
    df_total_sales,
    left_on=["ml_code", "variation_id"],
    right_on=["ml_code", "variation_id"],
    how="left",
)
df_total_sales_not_cat = df_total_sales_not_cat.drop_duplicates()

In [76]:
df_total_sales_not_cat["total_sold_quantity"] = df_total_sales_not_cat[
    "total_sold_quantity"
].fillna(0)
df_total_sales_cat["total_sold_quantity"] = df_total_sales_cat[
    "total_sold_quantity"
].fillna(0)

df_total_sales_not_cat["total_sold_quantity"] = df_total_sales_not_cat[
    "total_sold_quantity"
].astype("int64")
df_total_sales_cat["total_sold_quantity"] = df_total_sales_cat[
    "total_sold_quantity"
].astype("int64")

In [77]:
# df_total_sales_cat.sample(5)
# df_total_sales_not_cat['total_sold_quantity'].value_counts()
# df_total_sales_cat['total_sold_quantity'].value_counts()

In [78]:
print(df_total_sales_cat.shape)
print(df_total_sales_not_cat.shape)

(3926, 16)
(2412, 15)

In [79]:
# df_total_sales_cat

In [80]:
# df_total_sales_cat = df_total_sales_cat.drop(
#     columns=["data", "shipping_id", "variation_id_x", "order_id"]
# )
df_total_sales_cat_x = df_total_sales_cat.drop(
    columns=["data", "shipping_id", "variation_id_x", "order_id"]
)
df_total_sales_cat_x = df_total_sales_cat_x.drop_duplicates()
df_total_sales_cat_x.shape

(172, 12)

In [81]:
# df_total_sales_cat_x

In [82]:
# df_total_sales_cat['value_name'].value_counts()

In [83]:
# condf(df_total_sales_cat, 'ml_code','MLB3427769549')

In [84]:
# df_vendas_total_sales_not_cat

In [85]:
print(df_total_sales_not_cat.shape)

(2412, 15)

In [86]:
print(df_total_sales_not_cat.shape)
df_total_sales_not_cat_x = df_total_sales_not_cat.drop(
    columns=["data", "shipping_id", "order_id"]
)
df_total_sales_not_cat_x = df_total_sales_not_cat_x.drop_duplicates()
print(df_total_sales_not_cat_x.shape)

(2412, 15)
(362, 12)

In [87]:
# df_total_sales_cat_x

In [88]:
print(df_total_sales_cat_x.shape)
print(df_total_sales_not_cat_x.shape)

(172, 12)
(362, 12)

In [89]:
# df_total_sales_cat['ml_inventory_id'].value_counts()

In [90]:
# Antes de desabilitar
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_colwidth', None)

# Seu código para exibir o DataFrame

# # Depois de desabilitar
# pd.reset_option('display.max_rows')
# pd.reset_option('display.max_columns')
# pd.reset_option('display.max_colwidth')


# df_total_sales_cat = df_total_sales_cat.drop_duplicates()

df_total_sales_cat_x = df_total_sales_cat.drop_duplicates(
    subset=["ml_code", "ml_inventory_id"]
)
df_total_sales_not_cat_x = df_total_sales_not_cat.drop_duplicates(
    subset=["ml_code", "ml_inventory_id"]
)

In [91]:
# df_orders.shape

In [92]:
# condf(df_total_sales_cat,'ml_inventory_id','WTHI04163')
# condf(y,'ml_inventory_id','WTHI04163')

In [93]:
# condf(df_total_sales_cat,'ml_inventory_id','AWAZ99732')

In [94]:
df_total_cat = df_total_sales_cat_x.copy()
df_total_not_cat = df_total_sales_not_cat_x.copy()

In [95]:
df_total_cat.columns

Index(['ml_code', 'ml_inventory_id', 'value_name', 'variation_id_x', 'status',
       'catalog_listing', 'logistic_type_x', 'variation_id_y', 'seller_sku',
       'order_id', 'title', 'shipping_id', 'variation_value_name',
       'logistic_type_y', 'data', 'total_sold_quantity'],
      dtype='object')

In [96]:
# Somando total de vendas por inventory_id
df_sum_qt_sold_cat = (
    df_total_cat.groupby("ml_inventory_id")["total_sold_quantity"].sum().reset_index()
)
df_sum_qt_sold_cat = df_sum_qt_sold_cat.rename(
    columns={"total_sold_quantity": "total_sold_catalog"}
)

df_total_cat = pd.merge(
    df_total_cat,
    df_sum_qt_sold_cat[["ml_inventory_id", "total_sold_catalog"]],
    on="ml_inventory_id",
    how="left",
)

df_total_cat.rename(columns={"variation_id_y": "variation_id_"})


df_sum_qt_sold_not_cat = (
    df_total_not_cat.groupby("ml_inventory_id")["total_sold_quantity"]
    .sum()
    .reset_index()
)
df_sum_qt_sold_not_cat = df_sum_qt_sold_not_cat.rename(
    columns={"total_sold_quantity": "total_sold_not_catalog"}
)
df_total_not_cat = pd.merge(
    df_total_not_cat,
    df_sum_qt_sold_not_cat[["ml_inventory_id", "total_sold_not_catalog"]],
    on="ml_inventory_id",
    how="left",
)

In [97]:
print(df_total_cat.shape)
print(df_total_not_cat.shape)

(170, 17)
(361, 16)

In [98]:
df_total_cat.rename(columns={"variation_id_y": "variation_id"}, inplace=True)
df_total_cat.shape

(170, 17)

In [99]:
# condf(df_total_cat,'ml_inventory_id','WTHI04163')

In [100]:
df_total_cat = df_total_cat.drop_duplicates(subset=["ml_inventory_id"])

# df_total_cat[df_total_cat['ml_inventory_id']=='WTHI04163']

pergar ml_inventory_id e sum_total e acrescesntar essas informações no df de não catalogo pelo ml_inventory_id
ao fim deixar somatório do catalogo e não catalogo

In [101]:
# cols=['ml_inventory_id','total_sold_catalog']
# df_total_cat = df_total_cat[cols]
# df_total_cat.sample()

In [102]:
df_combined = pd.merge(
    df_total_not_cat,
    df_total_cat[["ml_inventory_id", "total_sold_catalog"]],
    on="ml_inventory_id",
    how="left",
)
# df_combined.sample()

In [103]:
# df_total_not_cat.shape

In [104]:
# condf(df_combined,'ml_inventory_id','UIUW89800')

In [105]:
# condf(df_combined,'ml_inventory_id','UIUW89800')

In [106]:
# df_combined['ml_inventory_id'].value_counts()

In [107]:
print(df_combined.shape)

(361, 17)

In [108]:
df = pd.merge(df_combined, df_stock_today, on="ml_inventory_id", how="left")
df["total_sold_catalog"] = df["total_sold_catalog"].fillna(0).astype("int64")

In [109]:
# df_combined

In [110]:
df.shape

(361, 26)

In [111]:
days = 30

df["total_sold"] = df["total_sold_catalog"] + df["total_sold_not_catalog"]
# qtd de produtos a enviar no período, caso seja valor negativo produto está acima do esperado para envio(sobrando)
df["period_send_fulfillment"] = np.ceil(
    (df["total_sold"] / df["days_available"]) * days - df["total_available_quantity"]
)

df["period_send_fulfillment"] = df["period_send_fulfillment"].fillna(0)

In [112]:
def calculate_percentual_send(row):
    if row["days_available"] != 0:
        if ((row["total_sold"] / row["days_available"]) * days) * 0.7 > row[
            "total_available_quantity"
        ]:
            return (row["total_sold"] / row["days_available"]) * days - row[
                "total_available_quantity"
            ]
    return 0


# Aplicando a função à coluna "percentual_send"
df["stock_replenishment"] = df.apply(calculate_percentual_send, axis=1)

In [113]:
df.sample(5)

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type_x,seller_sku,order_id,title,...,detail_quantity,references_id,references_variation_id,data_y,has_stock,days_available,total_available_quantity,total_sold,period_send_fulfillment,stock_replenishment
92,MLB1476087059,WRRA54468,NaN,NaN,paused,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1476087059,nan,2023-12-27,False,0,0,0,0.0,0.0
188,MLB2000967077,QRSL03944,NaN,NaN,paused,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB2000967077,nan,2023-12-27,False,0,0,0,0.0,0.0
221,MLB2006353434,PMPX06029,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB2006353434,nan,2023-12-27,True,45,12,13,-3.0,0.0
330,MLB3339557747,XPNR45178,Marrom,177910820012,active,False,fulfillment,FULLWINNER11021,2000007206577170,Ukulele Winner Soprano 21'' Sapele Laminado Se...,...,NaN,MLB3339557747,177910820012,2023-12-27,True,45,15,9,-9.0,0.0
181,MLB2001059333,THQG04019,NaN,NaN,paused,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB2001059333,nan,2023-12-27,False,0,0,0,0.0,0.0

In [114]:
df.columns

Index(['ml_code', 'ml_inventory_id', 'value_name', 'variation_id', 'status',
       'catalog_listing', 'logistic_type_x', 'seller_sku', 'order_id', 'title',
       'shipping_id', 'variation_value_name', 'logistic_type_y', 'data_x',
       'total_sold_quantity', 'total_sold_not_catalog', 'total_sold_catalog',
       'available_quantity_today', 'detail_status', 'detail_quantity',
       'references_id', 'references_variation_id', 'data_y', 'has_stock',
       'days_available', 'total_available_quantity', 'total_sold',
       'period_send_fulfillment', 'stock_replenishment'],
      dtype='object')

In [115]:
df.shape

(361, 29)

In [116]:
# df

In [117]:
df_have_itens = df[df["days_available"] > 0]
df_have_itens.shape
df_have_itens

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type_x,seller_sku,order_id,title,...,detail_quantity,references_id,references_variation_id,data_y,has_stock,days_available,total_available_quantity,total_sold,period_send_fulfillment,stock_replenishment
0,MLB1435852259,TLCG38735,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1435852259,nan,2023-12-27,True,45,6,1,-5.0,0.000000
1,MLB1435836214,PUOF38682,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1435836214,nan,2023-12-27,True,45,2,1,-1.0,0.000000
2,MLB1400355425,ZXFT21237,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1400355425,nan,2023-12-27,True,45,22,0,-22.0,0.000000
3,MLB1440291959,JGRW38703,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1440291959,nan,2023-12-27,True,45,12,8,-6.0,0.000000
5,MLB1568293054,XGVG11805,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1568293054,nan,2023-12-27,True,45,2,0,-2.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,MLB3696114466,RLJX42857,Preto,178530883033,paused,False,fulfillment,NaN,NaN,NaN,...,3.0,MLB3696114466,178530883033,2023-12-27,True,36,20,135,93.0,92.500000
350,MLB1814087324,FTGG16520,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1814087324,nan,2023-12-27,False,38,0,0,0.0,0.000000
354,MLB1440247563,GPGU38258,nan,NaN,paused,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1440247563,nan,2023-12-27,True,36,5,7,1.0,0.000000
357,MLB1556975175,DZVJ05686,Marrom,57895096313,active,False,fulfillment,FULLTAGIMA21KCOMCAPA,2000007225808668,Ukulelê Soprano Profissional Tagima 21k Mahoga...,...,NaN,MLB1556975175,57895096313,2023-12-27,False,35,0,22,19.0,18.857143
358,MLB950338822,MAEG54107,nan,NaN,paused,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB950338822,nan,2023-12-27,False,30,0,52,52.0,52.000000

In [118]:
df_sold_zero = df_have_itens[df_have_itens["total_sold"] == 0]
df_sold = df_have_itens[df_have_itens["total_sold"] > 0]

In [119]:
# produtos sem estoque no período
df_no_itens = df[df["days_available"] <= 0]
df_no_itens = df_no_itens.drop(columns=["period_send_fulfillment"])
df_no_itens.shape

(87, 28)

In [120]:
print(df_no_itens.shape)
print(df_sold.shape)
print(df_sold_zero.shape)

(87, 28)
(207, 29)
(67, 29)

In [121]:
df_sold_zero.sample(3)

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type_x,seller_sku,order_id,title,...,detail_quantity,references_id,references_variation_id,data_y,has_stock,days_available,total_available_quantity,total_sold,period_send_fulfillment,stock_replenishment
216,MLB2004757564,RTIZ80917,Preto,174305087697,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB2004757564,174305087697,2023-12-27,True,45,2,0,-2.0,0.0
165,MLB2001207578,ITND36634,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB2001207578,nan,2023-12-27,True,45,6,0,-6.0,0.0
112,MLB1629584638,VBZZ52467,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1629584638,nan,2023-12-27,True,45,3,0,-3.0,0.0

In [122]:
df_sold.sample(3)

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type_x,seller_sku,order_id,title,...,detail_quantity,references_id,references_variation_id,data_y,has_stock,days_available,total_available_quantity,total_sold,period_send_fulfillment,stock_replenishment
325,MLB3696018282,TKXK58450,2,178531159083,active,False,fulfillment,FULLVANDORENSR262,2000006984301296,"2 Palheta Sax Alto Vandoren Java Origina 1 1,5...",...,NaN,MLB3696018282,178531159083,2023-12-27,True,45,6,2,-4.0,0.000000
275,MLB2636549148,MHIJ54971,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB2636549148,nan,2023-12-27,True,45,1,23,15.0,14.333333
173,MLB1629366886,YWET52700,nan,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1629366886,nan,2023-12-27,True,6,1,62,309.0,309.000000

In [123]:
dfx = df_have_itens.copy()

In [124]:
df_sold_zero.columns

Index(['ml_code', 'ml_inventory_id', 'value_name', 'variation_id', 'status',
       'catalog_listing', 'logistic_type_x', 'seller_sku', 'order_id', 'title',
       'shipping_id', 'variation_value_name', 'logistic_type_y', 'data_x',
       'total_sold_quantity', 'total_sold_not_catalog', 'total_sold_catalog',
       'available_quantity_today', 'detail_status', 'detail_quantity',
       'references_id', 'references_variation_id', 'data_y', 'has_stock',
       'days_available', 'total_available_quantity', 'total_sold',
       'period_send_fulfillment', 'stock_replenishment'],
      dtype='object')

In [125]:
dfx.columns

Index(['ml_code', 'ml_inventory_id', 'value_name', 'variation_id', 'status',
       'catalog_listing', 'logistic_type_x', 'seller_sku', 'order_id', 'title',
       'shipping_id', 'variation_value_name', 'logistic_type_y', 'data_x',
       'total_sold_quantity', 'total_sold_not_catalog', 'total_sold_catalog',
       'available_quantity_today', 'detail_status', 'detail_quantity',
       'references_id', 'references_variation_id', 'data_y', 'has_stock',
       'days_available', 'total_available_quantity', 'total_sold',
       'period_send_fulfillment', 'stock_replenishment'],
      dtype='object')

In [126]:
cols = [
    "ml_code",
    "seller_sku",
    "ml_inventory_id",
    "value_name",
    "status",
    "title",
    "available_quantity_today",
    "detail_status",
    "detail_quantity",
    "total_available_quantity",
    "days_available",
    "total_sold_not_catalog",
    "total_sold_catalog",
    "total_sold",
    "period_send_fulfillment",
]

In [127]:
col = [
    "ml_code",
    "seller_sku",
    "ml_inventory_id",
    "value_name",
    "status",
    "title",
    "total_sold_catalog",
    "available_quantity_today",
    "detail_status",
    "detail_quantity",
    "days_available",
    "total_available_quantity",
    "total_sold_not_catalog",
    "total_sold",
]

df_no_itens = df_no_itens[col]
df_no_itens

,ml_code,seller_sku,ml_inventory_id,value_name,status,title,total_sold_catalog,available_quantity_today,detail_status,detail_quantity,days_available,total_available_quantity,total_sold_not_catalog,total_sold
4,MLB1564998298,NaN,OVRP11252,NaN,paused,NaN,0,0,None,NaN,0,0,0,0
7,MLB1440293157,NaN,JJMG39331,Vermelho,paused,NaN,0,0,None,NaN,0,0,0,0
9,MLB1618249173,NaN,LKXA44509,Madeira,paused,NaN,0,0,None,NaN,0,0,0,0
10,MLB1488916154,NaN,SSGO43954,Madeira,paused,NaN,0,0,None,NaN,0,0,0,0
13,MLB949788598,NaN,ERIM51807,NaN,paused,NaN,41,0,None,NaN,0,0,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,MLB1965264557,NaN,ITDN89121,Preto,paused,NaN,0,0,None,NaN,0,0,0,0
355,MLB1461705752,NaN,XGSW66673,nan,paused,NaN,3,0,None,NaN,0,0,0,3
356,MLB1490210934,NaN,SPKV63227,nan,paused,NaN,0,0,None,NaN,0,0,0,0
359,MLB1662970458,FULLIZZO6480,UIUW89800,Preto,paused,Pandeiro Original 10 Pol Abs Preto Com Pele Pr...,580,0,None,NaN,0,0,14,594
360,MLB1942106803,NaN,WQLG77218,nan,paused,NaN,0,0,None,NaN,0,0,0,0

In [128]:
def rename_columns(df):
    return df.rename(
        columns={
            "detail_status": "transfer_status",
            "detail_quantity": "transfer_quantity",
        }
    )


df_sold_zero = rename_columns(df_sold_zero)
df_sold = rename_columns(df_sold)
df_no_itens = rename_columns(df_no_itens)

In [129]:
df_no_itens.columns

Index(['ml_code', 'seller_sku', 'ml_inventory_id', 'value_name', 'status',
       'title', 'total_sold_catalog', 'available_quantity_today',
       'transfer_status', 'transfer_quantity', 'days_available',
       'total_available_quantity', 'total_sold_not_catalog', 'total_sold'],
      dtype='object')

In [130]:
dfx = dfx.rename(
    columns={"detail_status": "transfer_status", "detail_quantity": "transfer_quantity"}
)

In [131]:
dfx.sample()
dfx.shape

(274, 29)

In [132]:
dfx

,ml_code,ml_inventory_id,value_name,variation_id,status,catalog_listing,logistic_type_x,seller_sku,order_id,title,...,transfer_quantity,references_id,references_variation_id,data_y,has_stock,days_available,total_available_quantity,total_sold,period_send_fulfillment,stock_replenishment
0,MLB1435852259,TLCG38735,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1435852259,nan,2023-12-27,True,45,6,1,-5.0,0.000000
1,MLB1435836214,PUOF38682,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1435836214,nan,2023-12-27,True,45,2,1,-1.0,0.000000
2,MLB1400355425,ZXFT21237,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1400355425,nan,2023-12-27,True,45,22,0,-22.0,0.000000
3,MLB1440291959,JGRW38703,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1440291959,nan,2023-12-27,True,45,12,8,-6.0,0.000000
5,MLB1568293054,XGVG11805,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1568293054,nan,2023-12-27,True,45,2,0,-2.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,MLB3696114466,RLJX42857,Preto,178530883033,paused,False,fulfillment,NaN,NaN,NaN,...,3.0,MLB3696114466,178530883033,2023-12-27,True,36,20,135,93.0,92.500000
350,MLB1814087324,FTGG16520,NaN,NaN,active,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1814087324,nan,2023-12-27,False,38,0,0,0.0,0.000000
354,MLB1440247563,GPGU38258,nan,NaN,paused,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB1440247563,nan,2023-12-27,True,36,5,7,1.0,0.000000
357,MLB1556975175,DZVJ05686,Marrom,57895096313,active,False,fulfillment,FULLTAGIMA21KCOMCAPA,2000007225808668,Ukulelê Soprano Profissional Tagima 21k Mahoga...,...,NaN,MLB1556975175,57895096313,2023-12-27,False,35,0,22,19.0,18.857143
358,MLB950338822,MAEG54107,nan,NaN,paused,False,fulfillment,NaN,NaN,NaN,...,NaN,MLB950338822,nan,2023-12-27,False,30,0,52,52.0,52.000000

## Dividindo envios por grupos de categoria

In [354]:
df_itens_to_send = df_sold[df_sold['stock_replenishment'] > 0]
df_itens_to_send = df_itens_to_send[['ml_inventory_id','stock_replenishment']]
df_itens_to_send = df_itens_to_send.rename(columns={'ml_inventory_id':'inventory_id'})

df_itens_to_send.shape

(93, 2)

In [355]:
df_itens_to_send.sample()

    inventory_id  stock_replenishment
208    AJZG23550             8.863636

In [356]:
# Buscando relação fulfillment X tiny
try:
    conn = psycopg2.connect(**db_config)

    sql_query = f"SELECT * FROM tiny_fulfillment_mcenter"
    print(sql_query)
    df_tiny_fulfillment = pd.read_sql(sql_query, conn)

except psycopg2.Error as e:
    print(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")

except Exception as e:
    print(f"Erro ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro ao consultar ml_orders_hist: {e}")

finally:
    if conn is not None:
        conn.close()

SELECT * FROM tiny_fulfillment_mcenter

C:\Users\couti\AppData\Local\Temp\ipykernel_3608\3315363391.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tiny_fulfillment = pd.read_sql(sql_query, conn)

In [357]:
# Buscando categorias dos produtos
try:
    conn = psycopg2.connect(**db_config)

    sql_query = f"SELECT * FROM mcenter_types"
    print(sql_query)
    df_types = pd.read_sql(sql_query, conn)

except psycopg2.Error as e:
    print(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro do psycopg2 ao consultar ml_orders_hist: {e}")

except Exception as e:
    print(f"Erro ao consultar ml_orders_hist: {e}")
    # logger.error(f"Erro ao consultar ml_orders_hist: {e}")

finally:
    if conn is not None:
        conn.close()

SELECT * FROM mcenter_types

C:\Users\couti\AppData\Local\Temp\ipykernel_3608\2421984111.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_types = pd.read_sql(sql_query, conn)

In [358]:
df_types.shape

(361, 2)

In [359]:
df_send_types = pd.merge(df_itens_to_send, df_types, on='inventory_id', how='inner')

In [360]:
print(df_send_types.shape)
print(df_itens_to_send.shape)

(93, 3)
(93, 2)

In [361]:
df_send_types

   inventory_id  stock_replenishment       type
0     JGED44177            12.219512   Pandeiro
1     GLMK21133             5.333333   Pandeiro
2     FXMN50419            41.612903       Cabo
3     UIUW52962            25.538462       Cabo
4     HFNJ52229           274.411765       Cabo
..          ...                  ...        ...
88    ABCB20467             6.428571   Pandeiro
89    CIKE94068            12.000000  Cabo rolo
90    RLJX42857            92.500000   Pandeiro
91    DZVJ05686            18.857143    Ukulele
92    MAEG54107            52.000000       Cabo

[93 rows x 3 columns]

In [362]:
# Identificar todos os tipos únicos
unique_types = df_send_types['type'].unique()

# Criar grupos onde cada grupo contém todas as instâncias associadas a um tipo
result_dfs = []

for unique_type in unique_types:
    type_group = df_send_types[df_send_types['type'] == unique_type]
    result_dfs.append(type_group)

# Exibir os DataFrames resultantes
for i, result_df in enumerate(result_dfs):
    print(f"Grupo {i + 1}:\n{result_df}\n")
#     result_df

Grupo 1:
   inventory_id  stock_replenishment      type
0     JGED44177            12.219512  Pandeiro
1     GLMK21133             5.333333  Pandeiro
5     LKXA87678            48.000000  Pandeiro
9     CRMK90073            29.571429  Pandeiro
25    MAEG89052            24.750000  Pandeiro
58    WOJB37093             8.108108  Pandeiro
77    RKDM61361            26.333333  Pandeiro
78    RXXA58942            99.767442  Pandeiro
84    QOVS42512           478.000000  Pandeiro
88    ABCB20467             6.428571  Pandeiro
90    RLJX42857            92.500000  Pandeiro

Grupo 2:
   inventory_id  stock_replenishment  type
2     FXMN50419            41.612903  Cabo
3     UIUW52962            25.538462  Cabo
4     HFNJ52229           274.411765  Cabo
8     TDFV51283            21.562500  Cabo
19    ZOQD52873           133.000000  Cabo
20    HVCS52763           480.000000  Cabo
21    RBUB53192           555.000000  Cabo
24    JFGN34621           314.333333  Cabo
31    QHVP51310            41.255814  Cabo
34    LGAM52077           109.000000  Cabo
35    YWET52700           309.000000  Cabo
71    DGLC52390          1199.000000  Cabo
92    MAEG54107            52.000000  Cabo

Grupo 3:
   inventory_id  stock_replenishment     type
6     HSDO10298            60.666667  Correia
7     ESVG06709            12.428571  Correia
28    JFGN91429            18.000000  Correia
32    BPGQ10723             2.500000  Correia
36    OLCT05266            73.333333  Correia
37    YDQA03755            20.666667  Correia
38    OSQG97983             2.250000  Correia
39    ITQQ97036          2670.000000  Correia
40    WTHI04163            35.714286  Correia
41    ZJCO04233            11.333333  Correia
43    BPGQ06190            69.666667  Correia
44    NHQO05910            28.333333  Correia
45    PZZB07005            12.333333  Correia
46    AJZG23550             8.863636  Correia
47    HFEB10246             3.333333  Correia
48    VUJI10625            11.000000  Correia
49    SMGF52530             1.818182  Correia
66    YJPM55154             7.000000  Correia
67    MHIJ54971            14.333333  Correia
76    LXQV54406             8.863636  Correia

Grupo 4:
   inventory_id  stock_replenishment           type
10    XDTG30724            32.666667  Suporte Corda
13    PVKY65418             5.666667  Suporte Corda
86    WYFB54549            26.000000  Suporte Corda

Grupo 5:
   inventory_id  stock_replenishment       type
11    STLG62905                11.25  Percussão
17    CMXV62869                10.00  Percussão

Grupo 6:
   inventory_id  stock_replenishment      type
12    WOXA67988            53.636364  Escaleta
15    JNYZ66723             6.666667  Escaleta

Grupo 7:
   inventory_id  stock_replenishment     type
14    JJMG49643            11.421053  Ukulele
16    DJDL49028             2.045455  Ukulele
18    FFIA05428            18.947368  Ukulele
26    DIAC90428             1.000000  Ukulele
70    TPGO05400            52.500000  Ukulele
87    TALW87873            83.225806  Ukulele
91    DZVJ05686            18.857143  Ukulele

Grupo 8:
   inventory_id  stock_replenishment       type
22    MNSV53924             5.000000  Cabo rolo
33    OXVU12317            48.387097  Cabo rolo
89    CIKE94068            12.000000  Cabo rolo

Grupo 9:
   inventory_id  stock_replenishment           type
23    YQWM23606            16.756757  Encordoamento
27    TPDH38567            43.000000  Encordoamento
30    LNUD04074             3.000000  Encordoamento
50    VFZN11384            13.000000  Encordoamento
51    CDBO11155            15.000000  Encordoamento
52    POPO18550            13.333333  Encordoamento
53    NIPX18741             6.666667  Encordoamento
68    ZXJO91694             1.333333  Encordoamento
69    YJSN05311             1.666667  Encordoamento
81    KKKP96008            14.333333  Encordoamento
83    HGVR43626             1.538462  Encordoamento

Grupo 10:
   inventory_id  stock_replenishment     type
29    DSGP06979            16.333333  Baqueta
42    TNXB03680            25.666667  Baqueta
54    YIWE37998            51.000000  Baqueta
55    PQCQ36986            10.666667  Baqueta
56    JICW37518             1.666667  Baqueta
57    HSDO37848            19.250000  Baqueta
79    BSHY44610             3.666667  Baqueta
80    XQUC46318             7.000000  Baqueta
82    OPUT47930             3.488372  Baqueta

Grupo 11:
   inventory_id  stock_replenishment     type
59    XUMC81097            22.230769  Palheta
60    FRBW82060            14.097561  Palheta
61    IYUQ81169             1.333333  Palheta
62    TAPQ85749            10.714286  Palheta
63    DGCL82617            19.666667  Palheta
64    SOQF03130            13.333333  Palheta
65    GCYF86172             7.333333  Palheta
73    ZUKG50028            41.333333  Palheta
74    ICRX50305            11.666667  Palheta
75    EXBI53687             1.666667  Palheta
85    QHGI58432             1.666667  Palheta

Grupo 12:
   inventory_id  stock_replenishment           type
72    SJIT31691             3.409091  Suporte Sopro

In [363]:
# Lista para armazenar os DataFrames resultantes de cada agrupamento
result_dfs_list = []

while any(result_df.shape[0] > 0 for result_df in result_dfs):
    first_rows_dfs = []
    remaining_rows_dfs = []

    for result_df in result_dfs:
        if not result_df.empty:
            # Pega a primeira linha do DataFrame
            first_row_df = result_df.head(1)
            first_rows_dfs.append(first_row_df)

            # Pega as linhas restantes do DataFrame
            remaining_rows_df = result_df.iloc[1:]
            if not remaining_rows_df.empty:
                remaining_rows_dfs.append(remaining_rows_df)
            else:
                print(f"DataFrame vazio encontrado após extrair a primeira linha:\n{result_df}")

    # Adiciona o DataFrame resultante de cada agrupamento à lista
    result_dfs_list.append(pd.concat(first_rows_dfs, ignore_index=True))

    # Atualiza a lista result_dfs com os DataFrames restantes
    result_dfs = remaining_rows_dfs.copy()
    
# cols = ['inventory_id', 'ml_code', 'seller_sku', 'title', 'tiny_id', 'tiny_sku', 'stock_replenishment', 'qtd_to_send', 'type']
cols = ['inventory_id', 'ml_code', 'seller_sku', 'title', 'stock_replenishment', 'tiny_id', 'tiny_sku', 'qtd_item', 'qtd_to_send', 'type']

# Exibir os DataFrames resultantes de cada agrupamento
for i, result_df in enumerate(result_dfs_list):
    result_df = pd.merge(result_df, df_tiny_fulfillment, on='inventory_id', how='inner')
    result_df = result_df.drop(['Tipo de produto'], axis=1)
    result_df = result_df.rename(columns={'Quantidade do item':'qtd_item','SKU': 'seller_sku', 'Título do anúncio': 'title','ID Tiny':'tiny_id', 'SKU Tiny':'tiny_sku'})
    
    result_df['qtd_to_send'] = result_df['stock_replenishment'] * result_df['qtd_item']
    result_df['qtd_item'] = result_df['qtd_item'].astype('int64')
    result_df['qtd_to_send'] = result_df['qtd_to_send'].astype('int64')

    result_df = result_df[cols]
    print(f"Novo DataFrame do Agrupamento {i + 1}:\n", result_df)

DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment           type
72    SJIT31691             3.409091  Suporte Sopro
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment       type
17    CMXV62869                 10.0  Percussão
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment      type
15    JNYZ66723             6.666667  Escaleta
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment           type
86    WYFB54549                 26.0  Suporte Corda
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment       type
89    CIKE94068                 12.0  Cabo rolo
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment     type
91    DZVJ05686            18.857143  Ukulele
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment     type
82    OPUT47930             3.488372  Baqueta
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment      type
90    RLJX42857                 92.5  Pandeiro
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment           type
83    HGVR43626             1.538462  Encordoamento
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment     type
85    QHGI58432             1.666667  Palheta
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment  type
92    MAEG54107                 52.0  Cabo
DataFrame vazio encontrado após extrair a primeira linha:
   inventory_id  stock_replenishment     type
76    LXQV54406             8.863636  Correia
Novo DataFrame do Agrupamento 1:
    inventory_id        ml_code           seller_sku  \
0     JGED44177  MLB1618733551       FULLTIMBRA8630
1     FXMN50419   MLB950296037      FULLLWNINJA25FT
2     HSDO10298  MLB2004848109      FULLBASSOVTSL60
3     XDTG30724  MLB1425113746  FULLHERCULESGSP39WB
4     STLG62905  MLB1457193551       FULLTIMBRA8254
5     WOXA67988  MLB1461223727     FULLDOLPHIN10716
6     JJMG49643  MLB1464478537      FULLKALANI15416
7     MNSV53924  MLB1629577482             FULLSC30
8     YQWM23606  MLB1737406124              ENC6685
9     DSGP06979  MLB1992567302            FULLNI7AM
10    XUMC81097  MLB2216644379    FULLVANDORENSR262
11    SJIT31691  MLB1416824733   FULLHERCULESDS602B

                                                title  stock_replenishment  \
0   Pandeiro Profissional Timbra De 12 Pol. Em Fór...            12.219512
1   Cabo Santo Angelo Ninja Lw Series Xlr X Xlr - ...            41.612903
2   Correia Guitarra Violão Baixo Basso Alça Couro...            60.666667
3   Suporte Guitarra Baixo Violão Para Parede Herc...            32.666667
4   Tan-tan Cônico Timbra 12 Pol. X 50 Cm Alumínio...            11.250000
5   Escaleta Profissional 37 Teclas Com Case Preta...            53.636364
6   Ukulele Tenor 26 Tribes Natural Sapele Kal 220...            11.421053
7   Cabo Em Rolo De Microfone Santo Angelo 0,30mm ...             5.000000
8   Encordoamento Sg 010 Aco Bronze 85 15 P/violao...            16.756757
9   1 Par Baquetas De Bateria Liverpool Nirvana 5a...            16.333333
10  2 Palheta Sax Alto Vandoren Java Origina 1 1,5...            22.230769
11  Estaca Deluxe Para Flauta E Clarinete Hercules...             3.409091

      tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0   741808286  7897626803053         1           12       Pandeiro
1   730206769  7899028808803         1           41           Cabo
2   729132044  7898529535850         1           60        Correia
3   558252013  7897626824782         1           32  Suporte Corda
4   579922816  7897626882546         1           11      Percussão
5   604583080  7899574318290         1           53       Escaleta
6   643372554  7899574325892         1           11        Ukulele
7   660367769  7899028803778         1            5      Cabo rolo
8   747847586  7897626866850         1           16  Encordoamento
9   747848159  7897937421007         1           16        Baqueta
10  749530521  7897626822290         2           44        Palheta
11  558683624  7897626884168         1            3  Suporte Sopro
Novo DataFrame do Agrupamento 2:
    inventory_id        ml_code                    seller_sku  \
0     GLMK21133  MLB1403147752                FULLTIMBRA8631
1     UIUW52962  MLB1629338803             FULLP10LNINJA20FT
2     ESVG06709  MLB2004830631            FULLBASSOVTSL52KIT
3     ESVG06709  MLB2004830631            FULLBASSOVTSL52KIT
4     ESVG06709  MLB2004830631            FULLBASSOVTSL52KIT
5     ESVG06709  MLB2004830631            FULLBASSOVTSL52KIT
6     PVKY65418  MLB1461199091            FULLHERCULESGS200B
7     CMXV62869  MLB1490245796                FULLTIMBRA8252
8     JNYZ66723  MLB1465231671               FULLDOLPHIN6409
9     DJDL49028  MLB1464498239               FULLKALANI15439
10    OXVU12317  MLB1565008518           FULLDATALINKMICECOC
11    TPDH38567  MLB1435969309                FULLELIXIR5338
12    TNXB03680  MLB1992889189  FULLLIVERPOOLNI1X(5A,5B,7A)M
13    TNXB03680  MLB1992889189  FULLLIVERPOOLNI1X(5A,5B,7A)M
14    TNXB03680  MLB1992889189  FULLLIVERPOOLNI1X(5A,5B,7A)M
15    FRBW82060  MLB2216644379            FULLVANDORENSR2625

                                                title  stock_replenishment  \
0   Pandeiro Profissional 12 Pol. Fórmica Pele Pri...             5.333333
1   Cabo P10 X P10l Santo Angelo Ninja L 20ft - 6.10m            25.538462
2   Correia Guitarra Violão Baixo Basso Couro Flor...            12.428571
3   Correia Guitarra Violão Baixo Basso Couro Flor...            12.428571
4   Correia Guitarra Violão Baixo Basso Couro Flor...            12.428571
5   Correia Guitarra Violão Baixo Basso Couro Flor...            12.428571
6   Suporte Profissional Para Guitarra C/ Expack H...             5.666667
7   Tan-tan Reto Timbra 12 Pol X 50 Cm De Alumínio...            10.000000
8   Escaleta Profissional Dolphin 32 Teclas C/ Cas...             6.666667
9   Ukulele Concerto 24 Maori Koa Kal 420 Ck C/ Eq...             2.045455
10  Cabo Microfone Balanceado Estereo Dmx Rolo Com...            48.387097
11  Encordoamento .011 Phosphor Bronze Nanoweb Par...            43.000000
12  Kit 3 Pares De Baquetas D Bateria Liverpool Ni...            25.666667
13  Kit 3 Pares De Baquetas D Bateria Liverpool Ni...            25.666667
14  Kit 3 Pares De Baquetas D Bateria Liverpool Ni...            25.666667
15  2 Palheta Sax Alto Vandoren Java Origina 1 1,5...            14.097561

      tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0   741808113  7897626886315         1            5       Pandeiro
1   566295393  7899028824421         1           25           Cabo
2   565663877       PPalheta         1           12        Correia
3   565665071        Palheta         6           74        Correia
4   729127557  7898529535775         1           12        Correia
5   746249012        RH-01SV         2           24        Correia
6   558641580  7897626886810         1            5  Suporte Corda
7   579932492  7897626882522         1           10      Percussão
8   604574490  7897626864092         1            6       Escaleta
9   604594809  7899574326653         1            2        Ukulele
10  754085190  7898571083767         1           48      Cabo rolo
11  749761697  7897626853386         1           43  Encordoamento
12  698412654  7897937421014         1           25        Baqueta
13  735947207  7897937421021         1           25        Baqueta
14  747848159  7897937421007         1           25        Baqueta
15  749530553  7897626822306         2           28        Palheta
Novo DataFrame do Agrupamento 3:
   inventory_id        ml_code            seller_sku  \
0    LKXA87678  MLB1662872906          FULLIZZO6481
1    HFNJ52229  MLB1629329134     FULLP10LNINJA15FT
2    JFGN91429  MLB1955391585      FULLBASSONYPER07
3    WYFB54549  MLB2128901371          FULLC4SMJ19A
4    FFIA05428  MLB1556962508  FULLTAGIMA21KCOMCAPA
5    FFIA05428  MLB1556962508  FULLTAGIMA21KCOMCAPA
6    CIKE94068  MLB1399101853                  SC30
7    LNUD04074  MLB1992541482            FULLSG6685
8    YIWE37998  MLB2075516288   FULLLIVERPOOL6NI5AM
9    IYUQ81169  MLB2216644379     FULLVANDORENSR263

                                               title  stock_replenishment  \
0  Pandeiro Original 10 Pol Abs Vermelho C/pele P...            48.000000
1  Cabo P10 X P10l Santo Angelo Ninja L 15ft - 4.57m           274.411765
2  Correia Guitarra Violão Contra Baixo Alça Bass...            18.000000
3  Suporte Para Violão Guitarra Baixo Parede Auto...            26.000000
4  Ukulelê Soprano Profissional Tagima 21k Mahoga...            18.947368
5  Ukulelê Soprano Profissional Tagima 21k Mahoga...            18.947368
6  Cabo Em Rolo De Microfone Santo Angelo 0,30mm ...            12.000000
7  Encordoamento 0.09 0.10 0.11 0.12 Violão Aço 8...             3.000000
8  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...            51.000000
9  2 Palheta Sax Alto Vandoren Java Origina 1 1,5...             1.333333

     tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0  741799804  7897626864818         1           48       Pandeiro
1  598806000  7899028824414         1          274           Cabo
2  726830184  7898529533061         1           18        Correia
3  737198861  7891088100019         1           26  Suporte Corda
4  510044277  7898563976213         1           18        Ukulele
5  759523162            A90         1           18        Ukulele
6  660367769  7899028803778         1           12      Cabo rolo
7  695806943  7899574331763         1            3  Encordoamento
8  698412654  7897937421014         6          306        Baqueta
9  749530597  7897626822313         2            2        Palheta
Novo DataFrame do Agrupamento 4:
   inventory_id        ml_code                     seller_sku  \
0    CRMK90073  MLB1662862664                   FULLIZZO6489
1    TDFV51283   MLB950297972                   LWNINJA15FT1
2    BPGQ10723  MLB2001140622  FULLBASSOCLACRISTOSALVAMARROM
3    DIAC90428  MLB1665069241                  FULLTAGIMA43K
4    VFZN11384  MLB2022465762                    FULLKP02006
5    PQCQ36986  MLB2075516288      FULLLIVERPOOL3NI5AM3NI7AM
6    PQCQ36986  MLB2075516288      FULLLIVERPOOL3NI5AM3NI7AM
7    TAPQ85749  MLB2606294854             FULLVANDOREN2CR103

                                               title  stock_replenishment  \
0  Pandeiro Original 10 Pol Abs Azul C/pele Metal...            29.571429
1  Cabo Santo Angelo Ninja Lw Series Xlr X Xlr - ...            21.562500
2  Correia Guitarra Violão Baixo Basso Alça Crist...             2.500000
3  Ukulele Acústico Tampo Sólido 43k Cordas Em Ny...             1.000000
4  Cordas 10 11 12 Violao Aco Earthwood 80/20 Bro...            13.000000
5  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...            10.666667
6  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...            10.666667
7  2 Palheta Clarinete Vandoren Tradicional 1 1,5...            10.714286

     tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0  753647204  7897626864894         1           29       Pandeiro
1  565409748  7899028808780         1           21           Cabo
2  729130174  7898529536468         1            2        Correia
3  694724037  7898651943417         1            1        Ukulele
4  693267131   749699120063         1           13  Encordoamento
5  698412654  7897937421014         3           32        Baqueta
6  747848159  7897937421007         3           32        Baqueta
7  749528930  7897626822030         2           21        Palheta
Novo DataFrame do Agrupamento 5:
   inventory_id        ml_code                    seller_sku  \
0    MAEG89052  MLB1662794479                  FULLIZZO6469
1    ZOQD52873  MLB1629379059              FULLP10NINJA15FT
2    OLCT05266  MLB2001110525  FULLBASSOCLAPEIXEJESUSMARROM
3    TPGO05400  MLB1557018312                 FULLTAGIMA21K
4    CDBO11155  MLB2022465762                   FULLKP02004
5    JICW37518  MLB2075516288     FULLLIVERPOOL3NI5BM3NI7AM
6    JICW37518  MLB2075516288     FULLLIVERPOOL3NI5BM3NI7AM
7    DGCL82617  MLB2606294854           FULLVANDOREN2CR1015

                                               title  stock_replenishment  \
0  Pandeiro Original 10 Pol Abs Preto Com Pele Le...            24.750000
1     Cabo P10 X P10 Santo Angelo Ninja 15ft - 4.57m           133.000000
2  Correia Guitarra Violão Baixo Basso Alça Peixe...            73.333333
3   Ukulelê Soprano Profissional Tagima 21k Mahogany            52.500000
4  Cordas 10 11 12 Violao Aco Earthwood 80/20 Bro...            15.000000
5  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...             1.666667
6  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...             1.666667
7  2 Palheta Clarinete Vandoren Tradicional 1 1,5...            19.666667

     tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0  749761863  7897626864696         1           24       Pandeiro
1  567508524  7899028808551         1          133           Cabo
2  729130419  7898529536482         1           73        Correia
3  510044277  7898563976213         1           52        Ukulele
4  693267123   749699120049         1           15  Encordoamento
5  735947207  7897937421021         3            5        Baqueta
6  747848159  7897937421007         3            5        Baqueta
7  749528560  7897626822009         2           39        Palheta
Novo DataFrame do Agrupamento 6:
   inventory_id        ml_code                       seller_sku  \
0    WOJB37093  MLB1971185030                   FULLBRANCO3440
1    HVCS52763   MLB950214971                  FULLLWNINJA10FT
2    YDQA03755  MLB2001055363                   FULLBASSOCLA26
3    TALW87873  MLB2171831134                      FULLC423KNS
4    POPO18550  MLB2024265635              FULLERNIEBALLP02223
5    HSDO37848  MLB2075516288  FULLLIVERPOOL2NI5AM2NI5BM2NI7AM
6    HSDO37848  MLB2075516288  FULLLIVERPOOL2NI5AM2NI5BM2NI7AM
7    HSDO37848  MLB2075516288  FULLLIVERPOOL2NI5AM2NI5BM2NI7AM
8    SOQF03130  MLB2606294854              FULLVANDOREN2CR1025

                                               title  stock_replenishment  \
0  Pandeiro Izzo 10 Pol Abs Branco C/pele Preta 3440             8.108108
1  Cabo Santo Angelo Ninja Lw Series Xlr X Xlr - ...           480.000000
2  Correia Guitarra Violão Baixo Alça Basso Cla 2...            20.666667
3  Ukulele Concert Acústico Tagima Natural Mahoga...            83.225806
4  Cordas Para Guitarra 09 10 11 Power Slink Niqu...            13.333333
5  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...            19.250000
6  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...            19.250000
7  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...            19.250000
8  2 Palheta Clarinete Vandoren Tradicional 1 1,5...            13.333333

     tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0  741799597  7897626802353         1            8       Pandeiro
1  565287467  7899028808773         1          480           Cabo
2  729129913  7898529535553         1           20        Correia
3  552156281  7898563976220         1           83        Ukulele
4  693267167   749699122234         1           13  Encordoamento
5  698412654  7897937421014         2           38        Baqueta
6  735947207  7897937421021         2           38        Baqueta
7  747848159  7897937421007         2           38        Baqueta
8  749528632  7897626822023         2           26        Palheta
Novo DataFrame do Agrupamento 7:
   inventory_id        ml_code             seller_sku  \
0    RKDM61361  MLB2986538160  FULLLIVERPOOLPML001VD
1    RBUB53192   MLB950295955        FULLLWNINJA20FT
2    OSQG97983  MLB2001035868         FULLBASSOCLA25
3    DZVJ05686  MLB1556975175   FULLTAGIMA21KCOMCAPA
4    DZVJ05686  MLB1556975175   FULLTAGIMA21KCOMCAPA
5    NIPX18741  MLB2024265635    FULLERNIEBALLP02221
6    BSHY44610  MLB3337214843    FULLLIVERPOOL6NI5AM
7    GCYF86172  MLB2606294854     FULLVANDOREN2CR102

                                               title  stock_replenishment  \
0  Pandeiro Profissional Meia Lua Diversas Cores ...            26.333333
1  Cabo Santo Angelo Ninja Lw Series Xlr X Xlr - ...           555.000000
2  Correia Guitarra Violão Baixo Alça Basso Cla 2...             2.250000
3  Ukulelê Soprano Profissional Tagima 21k Mahoga...            18.857143
4  Ukulelê Soprano Profissional Tagima 21k Mahoga...            18.857143
5  Cordas Para Guitarra 09 10 11 Power Slink Niqu...             6.666667
6  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...             3.666667
7  2 Palheta Clarinete Vandoren Tradicional 1 1,5...             7.333333

     tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0  698412791  7897937428013         1           26       Pandeiro
1  566317152  7899028808797         1          555           Cabo
2  729129899  7898529535546         1            2        Correia
3  510044277  7898563976213         1           18        Ukulele
4  759523162            A90         1           18        Ukulele
5  730857747   749699122210         1            6  Encordoamento
6  698412654  7897937421014         6           21        Baqueta
7  749530945  7897626822016         2           14        Palheta
Novo DataFrame do Agrupamento 8:
   inventory_id        ml_code            seller_sku  \
0    RXXA58942  MLB2986538160  FULLLIVERPOOLPML001A
1    JFGN34621   MLB924922735     FULLP10NINJA10FTC
2    ITQQ97036  MLB2001015502        FULLBASSOCLA14
3    ZXJO91694  MLB2651474613          FULLC4P02221
4    XQUC46318  MLB3337214843   FULLLIVERPOOL6NI7AM
5    ZUKG50028  MLB2770292345    FULLVANDOREN2SR212

                                               title  stock_replenishment  \
0  Pandeiro Profissional Meia Lua Diversas Cores ...            99.767442
1   Cabo Santo Angelo Ninja P10 X P10 - 10ft / 3,05m           314.333333
2  Correia Guitarra Violão Baixo Alça Basso Cla 1...          2670.000000
3  Encordoamento Guitarra Slinky Nickel W. Ernie ...             1.333333
4  Kit 6 Pares De Baquetas D Bateria Liverpool Ni...             7.000000
5  2 Palheta Sax Alto Vandoren Tradicional 1 1,5 ...            41.333333

     tiny_id       tiny_sku  qtd_item  qtd_to_send           type
0  698412706  7897937427696         1           99       Pandeiro
1  509517168  7899028808537         1          314           Cabo
2  729129880  7898529535461         1         2670        Correia
3  730857747   749699122210         1            1  Encordoamento
4  747848159  7897937421007         6           42        Baqueta
5  748837541  7897626822115         2           82        Palheta
Novo DataFrame do Agrupamento 9:
   inventory_id        ml_code           seller_sku  \
0    QOVS42512  MLB3339539255         FULLIZZO6480
1    QHVP51310  MLB1627481446     FULLP10NINJA10FT
2    WTHI04163  MLB2000971378       FULLBASSOCLA13
3    YJSN05311  MLB2660440797             C4V11027
4    OPUT47930  MLB3696483496  FULLLIVERPOOL2NI7AM
5    ICRX50305  MLB2770292345  FULLVANDOREN2SR2125

                                               title  stock_replenishment  \
0  Pandeiro Original 10 Pol Abs Preto Com Pele Pr...           478.000000
1     Cabo P10 X P10 Santo Angelo Ninja 10ft - 3.05m            41.255814
2  Correia Guitarra Violão Baixo Alça Basso Cla 1...            35.714286
3  Encordoamento Violão Aço Bronze Nanoweb Elixir...             1.666667
4  Kit 2 Pares De Baquetas D Bateria Liverpool Ni...             3.488372
5  2 Palheta Sax Alto Vandoren Tradicional 1 1,5 ...            11.666667

     tiny_id       tiny_sku  qtd_item  qtd_to_send           type

In [364]:
result_dfs_list[0]

   inventory_id  stock_replenishment           type
0     JGED44177            12.219512       Pandeiro
1     FXMN50419            41.612903           Cabo
2     HSDO10298            60.666667        Correia
3     XDTG30724            32.666667  Suporte Corda
4     STLG62905            11.250000      Percussão
5     WOXA67988            53.636364       Escaleta
6     JJMG49643            11.421053        Ukulele
7     MNSV53924             5.000000      Cabo rolo
8     YQWM23606            16.756757  Encordoamento
9     DSGP06979            16.333333        Baqueta
10    XUMC81097            22.230769        Palheta
11    SJIT31691             3.409091  Suporte Sopro

In [143]:
import pandas as pd

# Exemplo de DataFrame combinado
data = {
    'ml_inventory_id': [1, 2, 3, 4, 5],
    'item_name': ['Item A', 'Item B', 'Item C', 'Item D', 'Item E'],
    'type': ['type_1', 'type_2', 'type_3', 'type_1', 'type_2']
}

data = {
    'ml_inventory_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'item_name': ['Item A', 'Item B', 'Item C', 'Item D', 'Item E', 'Item F', 'Item G', 'Item H', 'Item I', 'Item J'],
    'type': ['type_1', 'type_2', 'type_3', 'type_4', 'type_5', 'type_1', 'type_2', 'type_3', 'type_4', 'type_1']
}

dfx = pd.DataFrame(data)

# Identificar todos os tipos únicos
unique_types = dfx['type'].unique()

# Criar grupos onde cada grupo contém todas as instâncias associadas a um tipo
result_dfs = []

for unique_type in unique_types:
    type_group = dfx[dfx['type'] == unique_type]
    result_dfs.append(type_group)

# Exibir os DataFrames resultantes
for i, result_df in enumerate(result_dfs):
    # print(f"Grupo {i + 1}:\n{result_df}\n")
    result_df

In [144]:
# Lista para armazenar os DataFrames resultantes de cada agrupamento
result_dfs_list = []

while any(result_df.shape[0] > 0 for result_df in result_dfs):
    first_rows_dfs = []
    remaining_rows_dfs = []

    for result_df in result_dfs:
        if not result_df.empty:
            # Pega a primeira linha do DataFrame
            first_row_df = result_df.head(1)
            first_rows_dfs.append(first_row_df)

            # Pega as linhas restantes do DataFrame
            remaining_rows_df = result_df.iloc[1:]
            if not remaining_rows_df.empty:
                remaining_rows_dfs.append(remaining_rows_df)
            else:
                print(f"DataFrame vazio encontrado após extrair a primeira linha:\n{result_df}")

    # Adiciona o DataFrame resultante de cada agrupamento à lista
    result_dfs_list.append(pd.concat(first_rows_dfs, ignore_index=True))

    # Atualiza a lista result_dfs com os DataFrames restantes
    result_dfs = remaining_rows_dfs.copy()

# Exibir os DataFrames resultantes de cada agrupamento
for i, result_df in enumerate(result_dfs_list):
    print(f"Novo DataFrame do Agrupamento {i + 1}:\n", result_df)

DataFrame vazio encontrado após extrair a primeira linha:
   ml_inventory_id item_name    type
4                5    Item E  type_5
DataFrame vazio encontrado após extrair a primeira linha:
   ml_inventory_id item_name    type
6                7    Item G  type_2
DataFrame vazio encontrado após extrair a primeira linha:
   ml_inventory_id item_name    type
7                8    Item H  type_3
DataFrame vazio encontrado após extrair a primeira linha:
   ml_inventory_id item_name    type
8                9    Item I  type_4
DataFrame vazio encontrado após extrair a primeira linha:
   ml_inventory_id item_name    type
9               10    Item J  type_1
Novo DataFrame do Agrupamento 1:
    ml_inventory_id item_name    type
0                1    Item A  type_1
1                2    Item B  type_2
2                3    Item C  type_3
3                4    Item D  type_4
4                5    Item E  type_5
Novo DataFrame do Agrupamento 2:
    ml_inventory_id item_name    type
0                6    Item F  type_1
1                7    Item G  type_2
2                8    Item H  type_3
3                9    Item I  type_4
Novo DataFrame do Agrupamento 3:
    ml_inventory_id item_name    type
0               10    Item J  type_1

In [145]:
result_dfs_list

[   ml_inventory_id item_name    type
 0                1    Item A  type_1
 1                2    Item B  type_2
 2                3    Item C  type_3
 3                4    Item D  type_4
 4                5    Item E  type_5,
    ml_inventory_id item_name    type
 0                6    Item F  type_1
 1                7    Item G  type_2
 2                8    Item H  type_3
 3                9    Item I  type_4,
    ml_inventory_id item_name    type
 0               10    Item J  type_1]

In [146]:
result_df

   ml_inventory_id item_name    type
0               10    Item J  type_1